.inner{ width: 90%; max-width: 1500px; margin: 0 auto; }

    
/* sub */
.sub_title {
  width: 100%;
  background: url(../images/svisual_01.png) no-repeat center /cover ;
}
.sub_title_content {
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub_title .sub_title_text {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 10rem;
  bottom: 7rem;
}
.sub_title .sub_title_text h1 {
  position: absolute;
  font-size: 50px;
  font-weight: 400;
  color: #fff;
  bottom: 3rem;
}
.sub_title .sub_title_text p {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
}
.sub_title .sub_menu {
  position: absolute;
  bottom: 0;
}
.sub_menu li  {
  display: flex;
  text-align: center;
}
.sub_menu li a {
  width: 200px;
  height: 40px;
  padding: 8px 10px;
  color: #fff;
  font-size: 18px;
  background-color: rgba(0, 38, 60, 0.7);
}
.sub_menu li .active {
  background-color: rgba(47, 141, 248, 0.7);;
}
/* sub-end */
    
    /** ***** MAIN PAGE ***** */
    /* MAIN visual */
    .sub_contents{ position: relative; max-width: 100%; height: calc(100vh - 65px); height: 1000px; /*overflow: hidden;*/ }
    .sub_contents .inner{ position: absolute; left: 0; top: 0; width: 100%; max-width: 100%; height: 100%; background-color: #fff; z-index: 10; }
    .sub_contents .inner .txtBox{ position: absolute; left: 50%; top: 50%; -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); width: 1200px; text-align: center; }
    .sub_contents .inner .txtBox h2{ font-size: 48px; font-weight: 700; color: #ffffff; letter-spacing: -2px; line-height: 55px; margin-bottom: 30px; }
    .sub_contents .inner .txtBox p{ font-size: 18px; font-weight: 500; color: #fff; letter-spacing: -0.5px; margin-bottom: 80px; }
    .sub_contents .inner .txtBox a{ position: relative; display: inline-block; width: 300px;  padding: 0 30px; text-align: left; background-color: #fff; overflow: hidden; }
    .sub_contents .inner .txtBox a::after{ position: absolute; right: 30px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); width: 26px; height: 7px; background: url(/img/ico_arrow.png) no-repeat center center; content: ''; display: block; transition: all 0.3s ease-in-out; }
    .sub_contents .inner .txtBox a::before{ position: absolute; left: -2px; top: -2px; width: 0%; height: 105%; background-color: #c99e52; content: ''; display: block; transition: all 0.3s ease-in-out; }
    .sub_contents .inner .txtBox a span{ position: relative; display: inline-block; font-size: 15px; font-weight: 700; color: #00263C; letter-spacing: -0.5px; line-height: 65px; transition: all 0.3s ease-in-out; }
    /*? 버튼 hover */
    .sub_contents .inner .txtBox a:hover:before{ width: 105%; }
    .sub_contents .inner .txtBox a:hover:after{ right: 25px; background: url(/img/ico_arrow_on.png) no-repeat center center; }
    .sub_contents .inner .txtBox a:hover span{ color: #fff;}

    /* MAIN 02 */
    .main02{ position: relative; width: 100%; }
    .main02::after{ position: absolute; left: 0; bottom: 0; width: 100%; height: 50%; background-color: #f6f5f4; content: ''; display: block; z-index: -1;}
    .main02 .inner{ width: 90%; max-width: 1500px; padding: 150px 0 110px; }
    .main02 .inner ul{ display: flex; align-items: flex-start; justify-content: space-between; }
    .main02 .inner ul li{ width: 32%; }
    .main02 .inner ul li .imgBox{ width: 100%; max-width: 480px; height: 19vw; max-height: 320px; overflow: hidden; }
    .main02 .inner ul li .imgBox img{ width: 100%; transform: scale(1); transition: all 0.3s ease-in-out; }
    .main02 .inner ul li:hover .imgBox img{ transform: scale(1.05); }
    .main02 .inner ul li dl{ margin-top: 20px; }
    .main02 .inner ul li dl dt{ font-size: 24px; font-weight: 700; color: #00263C; letter-spacing: -1.5px; margin-bottom: 10px; }
    .main02 .inner ul li dl dd{ font-size: 16px; font-weight: 400; color: #00263C; letter-spacing: -0.5px; line-height: 25px; }

    /* MAIN 04 - 배너*/
    .main04{ position: relative; width: 100%; background: url(/img/bg_main04.png) no-repeat center center; background-size: cover;}
    .main04 > span{ position: absolute; display: block; width: 2500px; height: 50px; font-size: 45px; font-weight: 100; color: #ffffff; line-height: 50px; white-space: nowrap; opacity: 0.4; z-index: 10; transition: all 0.3s ease-in-out; }
    .main04 > span.left{ top: 0; left: 0; }
    .main04 > span.right{ bottom: 0; right: 0; }
    .main04 .inner{ text-align: center; padding: 145px 0 100px; }
    .main04 .inner h2{ position: relative; width: 960px; font-size: 35px; font-weight: 900; color: #00263C; letter-spacing: -1px; line-height: 48px; margin: 0 auto 30px; }
    .main04 .inner h2::before{ position: absolute; left: -35px; top: 0px; font-size: 120px; font-weight: 100; opacity: 0.3; content: '“'; display: block; font-family: 'Open Sans';  }
    .main04 .inner h2::after{ position: absolute; right: -35px; top: 0px; font-size: 120px; font-weight: 100; opacity: 0.3; content: '”'; display: block; font-family: 'Open Sans';  }
    .main04 .inner p{ font-size: 13px; font-weight: 400; color: #00263C; font-style: italic; margin-bottom: 50px; }

    /* MAIN 05 */
    .main05 .inner{ position: relative; padding: 250px 0 100px; }
    .main05 .inner > img{ position: absolute; right: -5%; bottom: 0; z-index: -1;}
    .main05 .inner > h2{ margin-bottom: 35px; }
    .main05 .inner > h2 img:first-of-type{ width: 80px; }
    .main05 .inner > h2 img:nth-of-type(2){ margin: 0 20px; }
    .main05 .inner > h2 img:last-of-type{ width: 105px; }
    .main05 .inner > p{ font-size: 19px; font-weight: 400; color: #00263C; line-height: 35px; margin-bottom: 60px; }
    .main05 .inner > a{ position: relative; display: inline-block; width: 300px;  padding: 0 30px; text-align: left; background-color: #1c1d1d; overflow: hidden; }
    .main05 .inner > a::after{ position: absolute; right: 30px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); width: 26px; height: 7px; background: url(/img/ico_arrow_on.png) no-repeat center center; content: ''; display: block; transition: all 0.3s ease-in-out; }
    .main05 .inner > a::before{ position: absolute; left: -2px; top: -2px; width: 0%; height: 105%; background-color: #1c324c; content: ''; display: block; transition: all 0.3s ease-in-out; }
    .main05 .inner > a span{ position: relative; display: inline-block; font-size: 15px; font-weight: 700; color: #fff; letter-spacing: -0.5px; line-height: 65px; transition: all 0.3s ease-in-out; }
    /*? 버튼 hover */
    .main05 .inner > a:hover:before{ width: 102%; opacity: 1;}
    .main05 .inner > a:hover:after{ right: 25px; }






    /** ******************** SUB PAGE ******************** !*/
    .sub_page{ padding: 100px 0 150px; }
    .sub_page .inner > .titBox{ text-align: center; margin-bottom: 100px; }
    .sub_page .inner > .titBox > span{ display: block; font-size: 13px; font-weight: 700; color: #2c2e2f; margin-bottom: 22px; opacity: 0; transform: translateY(40px); animation: txtUp 0.6s ease-in-out 1 forwards;}
    .sub_page .inner > .titBox > h2{ font-size: 40px; font-weight: 700; color: #2c2e2f; letter-spacing: -3px; line-height: 40px; margin-bottom: 20px; opacity: 0; transform: translateY(40px); animation: txtUp 0.6s ease-in-out 1 forwards; animation-delay: 0.1s;}
    .sub_page .inner > .titBox > p{ font-size: 12px; font-weight: 700; color: #2c2e2f; opacity: 0; transform: translateY(40px); animation: txtUp 0.6s ease-in-out 1 forwards; animation-delay: 0.2s;}
    .sub_page .inner > .titBox > p em{ display: inline-block; font-size: 15px; color: #c99e52; font-style: normal; }
    .sub_page.sub1 .inner > .titBox > h2,
    .sub_page.sub2 .inner > .titBox > h2{ letter-spacing: -2px; }
    .sub_page.sub_shop .inner > .titBox > h2{ letter-spacing: 0; }


    /* SUB PAGE 1 - 레시오커피 */
    .sub1 .inner .cont{ text-align: center; margin-bottom: 150px; }
    .sub1 .inner .cont > img{ opacity: 0; transform: translateY(40px); animation: txtUp 0.6s ease-in-out 1 forwards; animation-delay: 0.35s; }
    .sub1 .inner .cont p{ font-size: 25px; font-weight: 400; color: #2c2e2f; letter-spacing: -1px; margin-top: 55px; opacity: 0; transform: translateY(40px); animation: txtUp 0.6s ease-in-out 1 forwards; }
    .sub1 .inner .cont p strong{ font-weight: 700; }
    .sub1 .inner .cont p.p01{ font-size: 25px; line-height: 35px; animation-delay: 0.5s; }
    .sub1 .inner .cont p.p02{ font-size: 20px; line-height: 38px; animation-delay: 0.9s; }
    .sub1 .inner .cont p.p02 strong{ display: block; font-size: 25px; margin-bottom: 25px; }
    .sub1 .inner .cont > h3{ font-size: 38px; font-weight: 700; color: #2c2e2f; letter-spacing: -2px; line-height: 53px; margin-top: 70px; text-align: center; opacity: 0; transform: translateY(40px); animation: txtUp 0.6s ease-in-out 1 forwards; animation-delay: 0.7s; }



    /** PRODUCT LIST */
    /* category */
    .sub2 .inner .category { display: flex; align-items: center; justify-content: center; width: 100%; margin-bottom: 70px; opacity: 0; transform: translateY(40px); animation: txtUp 0.6s ease-in-out 1 forwards; animation-delay: 0.35s; }
    .sub2 .inner .category a { position: relative; display: inline-block; background-color: #f6f5f4; padding: 0 40px; overflow: hidden; margin-right: 5px;}
    .sub2 .inner .category a:last-of-type{ margin-right: 0; }
    .sub2 .inner .category a::before{ position: absolute; left: -2px; top: -2px; width: 0%; height: 105%; background-color: #1c1d1d; content: ''; display: block; transition: all 0.3s ease-in-out; }
    .sub2 .inner .category a strong{ position: relative; display: inline-block; font-size: 15px; font-weight: 700; color: #616161; line-height: 55px; font-family: 'Open Sans'; z-index: 10; transition: all 0.3s ease-in-out; }
    .sub2 .inner .category a strong span{ display: inline-block; margin-left: 5px; transition: all 0.3s ease-in-out; }
    .sub2 .inner .category a.on { background-color: #1c1d1d; }
    .sub2 .inner .category a.on strong{ color: #fff; }
    .sub2 .inner .category a.on strong span{ color: #c99e52; }
    /*? 버튼 hover */
    .sub2 .inner .category a:hover:before{ width: 102%; opacity: 1;}
    .sub2 .inner .category a:hover strong{ color: #fff; }
    .sub2 .inner .category a:hover strong span{ color: #c99e52; }
    /* LIST */
    .sub2 .inner .contBox{ width: 1200px; margin: 0 auto; opacity: 0; transform: translateY(40px); animation: txtUp 0.6s ease-in-out 1 forwards; animation-delay: 0.5s; }
    .sub2 .inner .contBox ul{ display: flex; flex-wrap: wrap; align-items: stretch; justify-content: flex-start; }
    .sub2 .inner .contBox ul li{ width: 385px; margin-right: 22.5px; text-align: center; overflow: hidden; margin-bottom: 40px; transition: all 0.3s ease-in-out; }
    .sub2 .inner .contBox ul li:nth-of-type(3n){ margin-right: 0; }
    .sub2 .inner .contBox ul li a{ display: block; width: 100%; padding: 20px 0 50px; }
    .sub2 .inner .contBox ul li a .txtBox{ margin-top: 30px; }
    .sub2 .inner .contBox ul li a .txtBox dl dt{ font-size: 20px; font-weight: 700; color: #1c1d1d; letter-spacing: -0.7px; line-height: 30px; margin-bottom: 10px; transition: all 0.3s ease-in-out; }
    .sub2 .inner .contBox ul li a .txtBox dl dd{ font-size: 15px; font-weight: 400; color: #1c1d1d; }
    /*? 제품 hover */
    .sub2 .inner .contBox ul li:hover{ -webkit-box-shadow: 0 10px 18px 1px rgb(0 0 0 / 5%); box-shadow: 0 10px 18px 1px rgb(0 0 0 / 5%); }
    .sub2 .inner .contBox ul li:hover a .txtBox dl dt{ color: #c99e52; }


    /** PRODUCT DETAIL */
    .sub2 .inner .pd_nav{ width: 100%; margin-bottom: 20px; }
    .sub2 .inner .pd_nav ul{ display: flex; align-items: center; justify-content: flex-end; }
    .sub2 .inner .pd_nav ul li{ margin-right: 10px; }
    .sub2 .inner .pd_nav ul li:last-of-type{ margin-right: 0; }
    .sub2 .inner .pd_nav ul li a{ display: inline-block; font-size: 10px; font-weight: 500; color: #7d7d7d; }
    .sub2 .inner .pd_nav ul li a::after{ content: '>'; display: inline-block; margin-left: 10px; }
    .sub2 .inner .pd_nav ul li:last-of-type a::after{ display: none; }
    /* infoBox */
    .sub2 .inner .infoBox{ display: flex; padding-bottom: 130px; border-bottom: 1px solid #e3e2e2; }
    /*.sub2.pd13 .inner .infoBox,*/
    .sub2.pd15 .inner .infoBox{ border-bottom: none; }
    .sub2 .inner .infoBox .left{ width: 60%; opacity: 0; transform: translateY(40px); animation: txtUp 0.6s ease-in-out 1 forwards; }
    .sub2 .inner .infoBox .left .swiper-container02{ width: 100%; max-width: 670px; margin: 0 auto; overflow: hidden; }
    .sub2 .inner .infoBox .left .swiper-container02 ul li{ width: 100%; height: 670px; }
    .sub2 .inner .infoBox .left .swiper-container02 ul li img{ width: 100%; }
    .sub2 .inner .infoBox .left .swiper-pagination02{ display: flex; width: 670px; margin: 10px auto 0; }
    .sub2 .inner .infoBox .left .swiper-pagination02 .swiper-pagination-bullet{ display: block; width: 130px; height: 130px; border-radius: 0; margin-right: 5px; opacity: 1; border: 3px solid transparent; transition: all 0.2s ease-in-out; }
    .sub2 .inner .infoBox .left .swiper-pagination02 .swiper-pagination-bullet:hover,
    .sub2 .inner .infoBox .left .swiper-pagination02 .swiper-pagination-bullet.swiper-pagination-bullet-active{ border: 3px solid #c99e52; }
    /* txtBox */
    .sub2 .inner .infoBox .right{ width: 40%; max-width: 550px; padding-top: 80px; padding-left: 25px; }
    .sub2 .inner .infoBox .right > h2{ font-size: 30px; font-weight: 700; color: #1c1d1d; letter-spacing: -1.5px; line-height: 42px; margin-bottom: 15px; }
    .sub2 .inner .infoBox .right > span{ display: block; font-size: 18px; font-weight: 400; color: #1c1d1d; letter-spacing: -0.7px; margin-bottom: 40px; }
    .sub2 .inner .infoBox .right > p{ font-size: 16px; font-weight: 400; color: #8f8f8f; letter-spacing: -0.2px; line-height: 28px; word-break: keep-all; margin-bottom: 90px; }
    /* colorBox */
    .sub2 .inner .infoBox .right .colorBox{ width: 100%; margin-bottom: 50px; }
    .sub2 .inner .infoBox .right .colorBox h3{ font-size: 18px; font-weight: 700; color: #1c1d1d; letter-spacing: -0.7px; margin-bottom: 10px; }
    .sub2 .inner .infoBox .right .colorBox h3 img{ vertical-align: -1px; margin-left: 5px;}
    .sub2 .inner .infoBox .right .colorBox ul{ display: flex; align-items: stretch; }
    .sub2 .inner .infoBox .right .colorBox ul li{ position: relative; width: 65px; height: 65px; margin-right: 5px; }
    .sub2 .inner .infoBox .right .colorBox ul li a{ display: block; width: 100%; height: 100%; text-align: center; border: 1px solid #f3f3f3; }
    .sub2 .inner .infoBox .right .colorBox ul li.color_silver a{ background: url(/img/color_silver.png) no-repeat center center; background-size: cover; padding: 12px 0; }
    .sub2 .inner .infoBox .right .colorBox ul li.color_white a{ background: url(/img/color_white.png) no-repeat center center; background-size: cover; padding: 22px 0; }
    .sub2 .inner .infoBox .right .colorBox ul li.color_black a{ background: url(/img/color_black.png) no-repeat center center; background-size: cover; padding: 12px 0; }
    .sub2 .inner .infoBox .right .colorBox ul li.color_black2 a{ background: url(/img/color_black.png) no-repeat center center; background-size: cover; padding: 22px 0; }
    .sub2 .inner .infoBox .right .colorBox ul li a span{ font-size: 11px; font-weight: 600; line-height: 15px; letter-spacing: -0.3px; }
    .sub2 .inner .infoBox .right .colorBox ul li.color_silver a span{ color: #5c5e5e; }
    .sub2 .inner .infoBox .right .colorBox ul li.color_white a span{ color: #1c1d1d; }
    .sub2 .inner .infoBox .right .colorBox ul li.color_black a span{ color: #fff; }
    .sub2 .inner .infoBox .right .colorBox ul li.color_black2 a span{ color: #fff; }
    /* servicerBox */
    .sub2 .inner .infoBox .right .serviceBox{ width: 100%; border-top: 1px solid #e3e2e2; padding-top: 40px; }
    .sub2 .inner .infoBox .right .serviceBox h3{ font-size: 18px; font-weight: 700; color: #1c1d1d; letter-spacing: -1px; margin-bottom: 10px; }
    /*.sub2 .inner .infoBox .right .serviceBox ul{ display: flex; flex-wrap: wrap; align-items: center; }*/
    .sub2 .inner .infoBox .right .serviceBox ul li{ font-size: 14px; font-weight: 400; color: #6e6e6e; margin-bottom: 12px; }
    .sub2 .inner .infoBox .right .serviceBox ul li img{ vertical-align: -3px; margin-right: 5px; }


    /* ? active */
    .sub2 .inner .infoBox .right > h2,
    .sub2 .inner .infoBox .right > span,
    .sub2 .inner .infoBox .right > p,
    .sub2 .inner .infoBox .right .colorBox,
    .sub2 .inner .infoBox .right .serviceBox{ opacity: 0; transform: translateX(-20px); animation: txtLeft 0.6s ease-in-out 1 forwards; }
    .sub2 .inner .infoBox .right > h2{ animation-delay: 0.3s;}
    .sub2 .inner .infoBox .right > span{ animation-delay: 0.4s;}
    .sub2 .inner .infoBox .right > p{ animation-delay: 0.5s;}
    .sub2 .inner .infoBox .right .colorBox{ animation-delay: 0.6s;}
    .sub2 .inner .infoBox .right .serviceBox{ animation-delay: 0.7s;}
    .sub2 .inner .detailBox.active ul li{ animation: txtUp 0.6s ease-in-out 1 forwards; }
    .sub2 .inner .detailBox.active ul li:nth-of-type(1){ animation-delay: 0s; }
    .sub2 .inner .detailBox.active ul li:nth-of-type(2){ animation-delay: 0.1s; }
    .sub2 .inner .detailBox.active ul li:nth-of-type(3){ animation-delay: 0.2s; }
    .sub2 .inner .detailBox.active ul li:nth-of-type(4){ animation-delay: 0.3s; }

    /* included */
    .sub2 .inner .included .tit { position: relative; padding: 50px 0 30px 0; }
    .sub2 .inner .included .tit h3{ font-size: 30px; font-family:'Spartan'; font-weight: 700; color: #1c1d1d; letter-spacing: -1.5px; line-height: 34px; }
    .sub2 .inner .included .cont { position: relative; font-size: 15px; font-weight: 400; color: #1c1d1d; line-height: 35px; margin-bottom: 50px; padding-left: 43px; }


    /* overview */
    .inner .overview .tit{ position: relative; padding: 50px 0; border-top: 1px solid #e3e2e2; }
    .inner .overview .tit h3{ font-size: 30px; font-family:'Spartan'; font-weight: 700; color: #1c1d1d; letter-spacing: -1.5px; line-height: 34px; }
    .inner .accordion .cont{ padding-bottom: 80px; padding-left: 40px; }
    .inner .overview .cont{ padding-left: 0; }
    .inner .overview .cont ul li{ display: flex; align-items: center; justify-content: flex-start; margin-bottom: 70px; }
    .inner .overview .cont ul li .mediaBox{ width: 55%; height: 24vw; max-height: 450px; overflow: hidden;}
    .inner .overview .cont ul li .mediaBox iframe{ width: 100% !important; height: 100% !important; }
    .inner .overview .cont ul li .mediaBox img{ width: 100%; height: 100%; }
    .inner .overview .cont ul li .txtBox{ width: 45%; padding-left: 55px; }
    .inner .overview .cont ul li .txtBox h4{ font-size: 32px; font-weight: 800; color: #1c1d1d; letter-spacing: -1px; line-height: 40px; margin-bottom: 20px; margin-top: 70px;}
    .inner .overview .cont ul li .txtBox h4:first-of-type{ margin-top: 0; }
    .inner .overview .cont ul li .txtBox p{ font-size: 14px; font-weight: 400; color: #616567; letter-spacing: -0.3px; line-height: 24px; word-break: keep-all; margin-bottom: 15px; }
    .inner .overview .cont ul li .txtBox p:last-of-type{ margin-bottom: 0; }
    .inner .overview .cont h3{ font-size: 17px; font-weight: 700; color: #1c1d1d; line-height: 25px; margin-bottom: 10px; opacity: 0; transform: translateX(-20px); }
    .inner .overview .cont h3:not(:first-of-type){ margin-top: 30px; }
    .inner .overview .cont ol { opacity: 0; transform: translateX(-20px); }
    .inner .overview .cont ol li{ position: relative; font-size: 15px; font-weight: 400; color: #1c1d1d; line-height: 25px; margin-bottom: 10px; padding-left: 12px; }
    .inner .overview .cont ol li::before{ position: absolute; left: 0; top: 12px; width: 3px; height: 3px; background-color: #1c1d1d; content: ''; display: inline-block; }
    .inner .overview .cont > a{ display: inline-block; font-size: 15px; font-weight: 500; color: #c99e52; line-height: 25px; margin-top: 40px; opacity: 0; transform: translateX(-20px)}
    .inner .overview .cont ul li .introBox { width: 100%; text-align: center; }
    .inner .overview .cont ul li .introBox p { padding-bottom: 36px; font-size: 18px; font-weight: 400; color: #616567; letter-spacing: -0.3px; line-height: 24px; word-break: keep-all; }
    .inner .overview .cont ul li .introBox .emblem { margin-bottom: 24px; }
    .inner .overview .cont ul li .introBox .pdmovieMd iframe { display: none; }
    .inner .overview .cont ul li .introBox .pdmovieSm iframe { display: none; }


    /* detailBox */
    .inner .detailBox{ padding: 0; }
    .inner .detailBox ul{ display: flex; flex-wrap: wrap; align-items: stretch; justify-content: space-between; }
    .inner .detailBox ul li{ width: 49%; opacity: 1; }
    .inner .detailBox ul li:nth-of-type(n+3){ margin-top: 50px; }
    .inner .detailBox ul li .imgBox{ width: 100%; overflow: hidden; }
    .inner .detailBox ul li .imgBox img{ width: 100%; transition: all 0.4s ease-in-out; }
    .inner .detailBox ul li:hover .imgBox img{ transform: scale(1.07); }
    .inner .detailBox ul li dl{ margin-top: 25px; }
    .inner .detailBox ul li dl dt{ font-size: 25px; font-weight: 700; color: #1c1d1d; letter-spacing: -0.8px; line-height: 34px; margin-bottom: 10px; }
    .inner .detailBox ul li dl dd{ font-size: 16px; font-weight: 400; color: #616567; letter-spacing: -0.5px; line-height: 26px; word-break: keep-all; }
    .inner .detailBox ul li .txtinfo { width: 100%; }
    .inner .detailBox ul li .txtinfo h4{ font-size: 32px; font-weight: 800; color: #1c1d1d; letter-spacing: -1px; line-height: 40px; margin-bottom: 20px; margin-top: 30px;}
    .inner .detailBox ul li .txtinfo p{ font-size: 16px; font-weight: 400; color: #616567; letter-spacing: -0.3px; line-height: 25px; word-break: keep-all; }
/* 슬라이더 부분 */
    .container_inner {
      position: relative;
      width: 1120px;
      margin: 0 auto;
  }
  .container_inner * {
    word-break: keep-all;
  }
  .brand_tab {
    position: relative;
    padding-top: 149px;
}
.brand_tab > dt {
  width: 185px;
}
.brand_tab > dt.active {
  background-color: #fff;
  z-index: 10;
}
.brand_slide {
  position: relative;
}
.fotorama--hidden, .fotorama__load {
  position: absolute;
  left: -99999px;
  top: -99999px;
  z-index: -1;
}
.fotorama--hidden, .fotorama__load {
  position: absolute;
  left: -99999px;
  top: -99999px;
  z-index: -1;
}
.fotorama__wrap {
  -webkit-text-size-adjust: 100%;
  position: relative;
  direction: ltr;
  z-index: 0;
}
.fotorama__wrap .fotorama__pointer {
  cursor: pointer;
}
.fotorama__stage:before {
  content: "";
  display: block;
  position: absolute;
  text-decoration: none;
  top: 0;
  bottom: 0;
  width: 10px;
  height: auto;
  z-index: 10;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 1px 100%, 5px 100%;
}
.fotorama__wrap--css3 .fotorama__nav__shaft, .fotorama__wrap--css3 .fotorama__stage__shaft, .fotorama__wrap--css3 .fotorama__thumb-border {
  transition-property: -webkit-transform, width;
  transition-property: transform, width;
  transition-timing-function: cubic-bezier(0.1,0,.25,1);
  transition-duration: 0ms;
}
.fotorama__wrap--slide .fotorama__stage__frame {
  opacity: 1 !important;
}
.fotorama__stage__frame.fotorama__active {
  z-index: 8;
}
.fotorama__wrap--css3 .fotorama__stage .fotorama__img {
  transition-property: opacity;
  transition-timing-function: linear;
  transition-duration: .3s;
  width: 1120px;
  height: 670px;
  left: 0px;
  top: 0px;
}
.fotorama__wrap--slide .fotorama__stage__frame {
  opacity: 1 !important;
}
.brand_slide .slide_btn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}
.brand_slide .slide_btn div {
  position: absolute;
  top: 0;
  width: 21px;
  height: 38px;
  background-image: url(../images/brand/slide_btn.png);
  z-index: 100;
}
.btns a {
  display: none;
  width: 100%;
  height: 100%;
}
.brand_slide .btn_l {
  left: 20px;
}
.brand_slide .btn_r {
  right: 20px;
  background-position: -21px 0;
}
/* //슬라이더 부분 */
/* 마지막 본문 부분 */
.ui-img-exp {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-h5 {
  font-size: 35px;
  font-weight: 500;
  color: #00263C;
  line-height: 1.5;
  flex-grow: 1;
  font-family: 'kdg_Medium';
}
.ui-img-exp.type2 .box.txt:first-child {
  padding-left: 32px;
}
.ui-img-exp.type2 .box.txt {
  padding: 0;
}
.ui-img-exp.type2 .box.txt h3 {
  margin-bottom: 16px;
}

.ui-img-exp.type2 .box {
  /* width: 50%; */
}
.ui-img-exp.type2 .box img {
  border-radius: 32px;
  filter: drop-shadow(0 10px 11px rgba(0, 0, 0, 0.25));
}
.ui-img-exp.type2 .box+.box {
  margin-left: 32px;
}
.mb120 {
  margin-bottom: 120px !important;
}
.ui-img-exp.type2 .box.txt p {
  word-break: keep-all;
  font-size: 25px;
  line-height: 35px;
  font-weight: 200;
}
.ui-img-exp .box.txt p+p {
  margin-top: 32px;
}
/* 마지막 본문 부분 */
    @media screen and (min-width: 1440px) {
    .sub_contents .inner > .titBox {
      text-align: center;
      margin-bottom: 100px;
    }
    .sub_contents .inner .cont > h3 {
      font-size: 37px;
      font-weight: 700;
      color: #00263C;
      letter-spacing: 0px;
      line-height: 51px;
      text-align: center;
      opacity: 1;
      margin-top: 60px;
      }
    .sub_contents .sub_contents inner > .titBox > h2, .sub_page.sub2 .inner > .titBox > h2 {
      letter-spacing: -2px;}
    .sub_contents .inner .cont {
      text-align: center;
      margin-bottom: 150px;
      margin-top: 120px;
    }
    .sub_contents .inner {
      /* margin-top: 120px; */
    }
    .sub_contents .inner .cont > img {
      opacity: 1;
      border-radius: 32px;
    }
    .sub_contents .inner .cont p.p01 {
      font-size: 36px;
      line-height: 35px;
      animation-delay: 0.5s;
      margin-top: 30px;
    }
    .sub_contents .inner .cont p strong {
      font-size: 48px;
      font-family: 'kdg_Medium';
    }
    .sub_contents .inner .cont p.p02 {
      font-size: 25px;
      line-height: 38px;
      animation-delay: 0.9s;
      margin-top: 0px;
      color: #9A9A9A;
      font-weight: 300;
  }
  .sub_contents .inner .cont  span {
    font-size: 26px;
    font-weight: 500;
    margin-top: 60px;
    display: block;
}
.is-tablet-hide {
  display: block;
}
    }


@media (max-width: 800px) {
  .sub_contents {
    max-width: 100%;
  }
  .newcont-2023 .biWrap .biBox .txtWrap span {
    white-space: normal; /* 줄바꿈 허용 */
    word-break: keep-all; /* 단어 중간 끊지 않음 (한글 기준 좋음) */
    line-height: 1.6; 
  }
  .container_inner {
    width: 100%;
  }
}


/* 1024 */
@media (max-width: 1024px) {
  /* 맨위 */
  .sub_contents .cont {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .sub_contents .cont img {
    width: 920px;
    height: 323px;
    margin: 0 auto;
    border-radius: 32px;
  }
  .sub_contents .cont .p01 {
    margin-top: 60px;
    font-size: 24px;
  }
  .sub_contents .inner .cont p strong {
    font-size: 24px;
    font-family: 'kdg_Medium';
  }
  .sub_contents .cont > h3 {
    margin-top: 60px;
    font-size: 34px;
    line-height: 46px;
  }
  .sub_contents .inner .cont span {
    margin-top: 35px;
    font-size: 24px;
  }
  .sub_contents .cont .p02 {
    font-size: 20px;
    line-height: 36px;
    color: #9A9A9A;
    font-weight: 200;
  }
  /* //맨위 */
  /* 중간 */
  img.fotorama__img{
    width: 882px;
    height: 534px;
  }
  /* //중간 */
  /* 마지막 */
  .ui-img-exp.type2 .box.txt h3 {
    font-size: 24px;
  }
  .ui-img-exp.type2 .box.txt p {
    font-size: 19px;
    line-height: 25px;
  }
  .ui-img-exp.type2.is-reverse .box img {
    border-radius: 31px;
    /* width: 592px; */
    /* height: 816px; */
    filter: drop-shadow(0 10px 11px rgba(0, 0, 0, 0.25));
    margin-left: -63px;
  }
  .ui-img-exp.type2.mb120 .box img {
    margin-left: 30px;
  }
  .ui-img-exp.type2 .box {
    width: 50%;}
  /* //마지막 */
}
/* //1024 */

/* 768 */
@media (max-width: 768px) {
  /* 맨위 */
  .sub_contents .cont {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .sub_contents .cont img {
    width: 685px;
    height: 240px;
    margin: 0 auto;
    border-radius: 32px;
  }
  .sub_contents .cont .p01 {
    margin-top: 60px;
    font-size: 22px;
  }
  .sub_contents .cont > h3 {
    margin-top: 60px;
    font-size: 30px;
    line-height: 46px;
  }
  .sub_contents .inner .cont span {
    margin-top: 35px;
    font-size: 24px;
  }
  .sub_contents .cont .p02 {
    font-size: 20px;
    line-height: 36px;
    color: #9A9A9A;
    font-weight: 200;
  }
  /* //맨위 */
  /* 중간 */
  /* //중간 */
  /* 마지막 */
  .ui-img-exp.is-reverse{
    margin-top: 120px;
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    flex-direction: column-reverse;
  }
  .ui-img-exp.mb120 {
    align-items: flex-start;
    flex-direction: column;
  }
  .ui-img-exp.type2.is-reverse .box img {
    border-radius: 0;
    width: 768px;
    height: 1024px;
    margin-left: -32px;
}
.ui-img-exp.type2.mb120 .box img {
  border-radius: 0;
  width: 768px;
  height: 1024px;
  margin-left: 0px;
}
.ui-img-exp.type2 .box.txt h3 {
  font-size: 34px;
}
.ui-img-exp.type2 .box {
  margin-top: 40px;
}
  /* //마지막 */
  
}
/* //768 */

/* 375 */
@media (max-width: 375px) {
  /* 맨위 */
  .sub_contents .cont {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .sub_contents .cont img {
    width: 338px;
    height: 119px;
    margin: 0 auto;
    border-radius: 12px;
  }
  .sub_contents .cont .p01 {
    margin-top: 30px;
    font-size: 19px;
  }
  .sub_contents .cont > h3 {
    margin-top: 20px;
    font-size: 23px;
    line-height: 32px;
  }
  .sub_contents .inner .cont span {
    margin-top: 35px;
    font-size: 18px;
  }
  .sub_contents .cont .p02 {
    font-size: 16px;
    line-height: 23px;
    color: #9A9A9A;
    font-weight: 200;
  }
  /* //맨위 */
  /* 중간 */
  /* //중간 */
  /* 마지막 */
  .ui-img-exp.type2.is-reverse .box img {
    border-radius: 0;
    width: 375px;
    height: 500px;
    margin-left: -32px;
}
.ui-img-exp.type2.mb120 .box img {
  border-radius: 0;
  width: 375px;
  height: 500px;
  margin-left: 0px;
}
.ui-img-exp.type2 .box.txt h3 {
  font-size: 24px;
}
.ui-img-exp.type2 .box.txt p {
  font-size: 16px;
  line-height: 23px;
}
.ui-img-exp.type2 .box {
  margin-top: 20px;
}
  /* //마지막 */
}
/* //375 */