@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
  font-family: 'kdg_Medium'; /* 내가 지을 수 있는 이름 */
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/kdg_Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '행복고흥L';  
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/행복고흥L.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SangSangFlowerRoad'; 
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/SangSangFlowerRoad.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KCCHyerim-Regular';  
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/KCCHyerim-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* sub */
.sub_title {
  width: 100%;
  background: url(../images/information_bg.png) no-repeat center /cover ;
}
.sub_title_content {
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub_title .sub_title_text {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 10rem;
  bottom: 7rem;
}
.sub_title .sub_title_text h1 {
  position: absolute;
  font-size: 50px;
  font-weight: 400;
  color: #fff;
  bottom: 3rem;
}
.sub_title .sub_title_text p {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
}
.sub_title .sub_menu {
  position: absolute;
  bottom: 0;
}
.sub_menu li  {
  display: flex;
  text-align: center;
}
.sub_menu li a {
  width: 200px;
  height: 40px;
  padding: 8px 10px;
  color: #fff;
  font-size: 18px;
  background-color: rgba(0, 38, 60, 0.7);
}
.sub_menu li .active {
  background-color: rgba(47, 141, 248, 0.7);;
}
/* member1_main */
.space_main {
  width: 100%;
  background: #fff;
}
.space_main .main_content {
  height: 3000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.space_overview {
  display: flex;
  gap: 5rem;
  margin-bottom: 5rem;

}
.space_overview img {
  width: 550px;
  height: 390px;
  border-radius: 20px;
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.4);
}
.space_nm {
  width: 550px;
  height: 390px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding-left: 9rem;
}
.space_nm h2 {
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
}
.space_nm span {
  font-size: 30px;
  font-weight: 500;
}
.space_nm h3{
  font-size: 20px;
  font-weight: 300;
  color: #111;
}
.space_nm p {
  font-size: 20px;
  font-weight: 200;
  color: #333;

}  

@media all and (max-width:1024px) {
  .space_nm {
    width: 400px;
    padding-left: 0px;
  }
  .space_overview {
    gap: 6rem;
  }
  .space_overview img {
    width: 450px;
    height: auto;
  }
  .space_nm span {
    font-size: 25px;
  }
  .space_nm h3,
  .space_nm p {
    font-size: 18px;
  }

 
}
@media all and (max-width:768px) {
  .space_main .main_content {
    height: 2600px;
  }

  .space_nm {
    width: 320px;
    padding: 17px;
  }
  .space_overview {
    gap: 3rem;
    margin-bottom: 0px;
  }

  .space_overview img {
    width: 300px;
    height: 300px;
  }
  .space_nm h2 {
    font-size: 17px;
  }
  .space_nm span {
    font-size: 22px;
  }

  .space_nm h3, .space_nm p {
    font-size: 14px;
  } 
}
@media (max-width: 425px) {
  .space_main .main_content {
    height: 313rem;
  }

  .space_overview {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0 auto;
    
  }
  .space_nm.a {
    order: 2;
  }
  .space_overview img {
    width: 300px;
    height: auto;
  }
  .space_nm {
    width: 300px;
    height: 200px;
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 6px;
  }
  .space_nm h2 {
    font-size: 15px;
  }
  .space_nm span{
    font-size: 17px;
  }
  .space_nm h3, .space_nm p {
    font-size: 13px;
  }




}

