/* main_Visual */
.main_visual{
  width: 100%;
  height: 947px;
  background: url(../images/header_img.png) no-repeat center / cover;
}
.main_visual .mvisTop {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.main_logo {
  position: absolute;
  width: 256px;
  height: 384px;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 10;
}
.main_logo.fixed {
  position: fixed;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
}
.main_logo.hide {
  opacity: 0;
  pointer-events: none;
}

@media all and (max-width:768px) {
  .main_logo {
    width: 21%;
    height: 24rem;
  }
}

@media all and (max-width:425px) {
  .main_logo {
    width: 35%;
    height: 23rem;
  }
}
@media all and (max-width:375px) {
  .main_logo {
    width: 32%;
    height: 18rem;
  }
  .menuHover::after,
  .menuHover {
    height: 120px;
  }
}



/* msection */

.msection { 
  width: 100%; 
  height: 822px;
  margin: 0 auto; 
  background: url(../images/bg_mainmenu.png) no-repeat center / cover; 
  position: relative;
  overflow: hidden;
}
.msection_content {
  max-width: 1440px;
  width: 100%;
  height: 822px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.msection_content .menu_img {
  position: absolute;
  top: 161px;
  margin-left: -20px;
}
.msection_content .menu_img .menu_img_01 {
  position: absolute;
  top: 300px;
  left: 40px;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.msection_content .menu_img .menu_img_02 {
  position: absolute;
  left: 264px;
  top: 0;
}
.msection_content .menu_top{
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.msection_content .menu_top img {
  position: absolute;
  top: 216px;
  right: 40px;
  width: 127px;
  height: 190px;
}
.msection_content .menu_title {
  position: absolute;
  top: 418px;
  right: 50px;
}
.msection_content .menu_title p {
  font-size: 27px;
  text-align: right;
  line-height: 1.4;
  letter-spacing: -0.9px;
  color: #cfcfcf;
}
.msection_content .menu_title span {
  font-size: 27px;
  color: #fff;
}
.msection_content .menu_button {
  position: absolute;
  top: 65%;
  right: 50px;
}
.msection_content .menu_button .brand_button:hover {
  background-color: rgb(33 80 134);
}

@media all and (max-width:1024px) {
  .msection_content .menu_img .menu_img_01{
   width: 300px;
  }
  .msection_content .menu_img .menu_img_02{
    width: 300px;
    left: 19rem;
  }
  .msection_content .menu_title p {
    font-size: 20px;
    font-weight: 200;
    text-align: right;
    line-height: 25px;
    letter-spacing: -0.9px;
    color: #fff;
  }
  .msection_content .menu_title p span {
    font-size: 20px;
  }
}

@media all and (max-width:768px) {
  .msection {
    height: 600px;
  }
  .msection_content .menu_img {
    top: 10rem;
  }
  .msection_content .menu_img .menu_img_02 {
    width: 200px;
  }
  .msection_content .menu_img .menu_img_01 {
    width: 230px;
    top: 17rem;
  }
  .msection_content .menu_title {
    top: 37rem;
  }
  .msection_content .menu_title p {
    font-size: 16px;
  }
  .msection_content .menu_title span {
    font-size: 16px;
  }
  .msection_content .menu_top img {
    top: 165px;
  }
  .msection_content .menu_button {
    top: 53%;
  }
}

@media all and (max-width:425px) {
  .msection_content .menu_top {
    display: none;
  }
  .msection_content .menu_img {
    top: 4rem;
  }
  .msection_content .menu_title {
    top: 45rem;
  }
  .msection_content .menu_title {
    top: 43rem;
    left: 5rem;
  }
  .msection_content .menu_title p {
    text-align: start;
  }
  .msection_content .menu_title span {
    font-size: 16px;
  }

  .msection_content .menu_img .menu_img_01 {
    width: 200px;
  } 
  .msection_content .menu_button {
    top: 62%;
  }
}
@media all and (max-width:375px) {
  .msection_content .menu_img {
    top: 2rem;
  }
  .msection_content .menu_img .menu_img_01 {
    top: 13rem;
    width: 200px;
  }
  .msection_content .menu_img .menu_img_02 {
    width: 170px;
  }
  .msection_content .menu_top {
    display: none;
  }
  .msection_content .menu_title {
    top: 37rem;
    left: 4rem;
  }
  .msection_content .menu_title p {
    text-align: start;
    font-size: 14px;
  }
  .msection_content .menu_title p span {
    font-size: 14px;
  }

  .msection_content .menu_button {
    top: 59%;
    left: 4rem;
  }

}

/* signature */
.signature {
  width: 100%;
}
.signature_top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  height: 600px;
  background: url(../images/bg_signature_top.png) no-repeat center / cover;
}
.signature_top_content {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  bottom: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.signature_top_content .signature_logo img {
  position: absolute;
  width: 127px;
  height: 191px;
  margin-left: 25rem;
  top: -40px;
}
.signature_top .signature_top_title {
  position: absolute;
  left: 244px;
  top: 13px;
  margin-left: 140px;
}
.signature_top .signature_top_title h1 {
  font-size: 50px;
  color: #2F8DF8;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -2.5px;
}
.signature_top .signature_top_title h2 {
  font-size: 23px;
  font-weight: 400;
  line-height: 20%;
  letter-spacing: -1.9px;
}
.signature_top .signature_top_title h2 span {
  color: #2F8DF8;
}
.signature_top .brand_button {
  color: #fff;
  background-color: #2F8DF8;
  margin-top: 37px;
  position: absolute;
  left: 43%;
  top: 10rem;
}
.signature_top .brand_button:hover {
  color:#fff;
  background-color: rgb(33 80 134);
}
.signature_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EBFCFF;
  height: 500px;
  position: relative;
}
.signature_bottom .signature_bottom_content {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.signature_bottom .signature_bottom_title {
  position: absolute;
  text-align: center;
  right: 100px;
  top: 6rem;
}
.signature_bottom .signature_bottom_title h1 {
  font-size: 50px;
  font-weight: 400;
  font-family: 'KCCHyerim-Regular'; 
  line-height: 140%;
  letter-spacing:-0.9px;
  color: #2F8DF8;
}
.signature_bottom .signature_bottom_title h2 {
  font-size: 25px;
  font-weight: 400;
  line-height: 80%;
  letter-spacing:-0.5px;
  color: #62696a;
}
.signature_bottom .signature_bottom_title h2 span {
  font-weight: 500;
}
.signature_bottom .signature_bottom_img {
  position: absolute;
  top: -237px;
  left: 100px;

} 
.signature_bottom .signature_img_01 {
  position: absolute;
  top: -70px;
  left: 605px;
}
.signature_bottom .signature_img_02 {
  position: absolute;
  top: 58px;
  left: 376px;
}
.signature_bottom .signature_img_03 {
  position: absolute;
  top: -118px;
  left: 112px;
}
@media all and (max-width:1024px) {
  .signature_top {
    background-size: 140%;
  }
  .signature_top_content .signature_logo img {
    margin-left: 9rem;
  }
  .signature_top .signature_top_title {
    margin-left: 0rem;
  }
  .signature_top .brand_button {
    left: 47%;
  }
  .signature_bottom .signature_bottom_title {
    right: 8rem;
  }
  .signature_bottom .signature_bottom_title h1 {
    font-size: 40px;
  }
  .signature_bottom .signature_bottom_title h2 {
    font-size: 20px;
  }
  .signature_bottom .signature_bottom_img {
    left: -6rem;
  }  
}

@media all and (max-width:768px) {
  .signature {
    height: 40rem;
  }
  .signature_top {
    height: 420px;
  }
  .signature_top .signature_top_title h1 {
    font-size: 33px;
  }
  .signature_top .signature_top_title h2 {
    font-size: 16px;
  }
  .signature_bottom .signature_bottom_title {
    right: 3rem;
  }
  .signature_bottom .signature_bottom_title h1 {
    font-size: 40px;
  }
  .signature_bottom .signature_bottom_title h2 {
    font-size: 20px;
  }
  .signature_bottom .signature_img_01 {
    left: 46rem;
  }
  .signature_bottom .signature_img_02 {
    top: 1rem;
    left: 30rem;
  }
  .signature_bottom .signature_img_01 img {
    width: 130px;
  }
  .signature_bottom .signature_img_02 img {
    width: 150px;
  }
  .signature_bottom .signature_img_03 img {
    width: 185px;
  }
}

@media all and (max-width:425px) {
  .signature_top {
    background-size: 220%;
    background-position: 75% -56%;
  }
  .signature_logo {
    display: none;
  }
  .signature_top .signature_top_title {
    left: 3rem;
    top: 11rem;
  }
  .signature_top .signature_top_title h1 {
    font-size: 35px;
  }
  .signature_top .signature_top_title h2 {
    font-size: 19px;
  }
  .signature_top .brand_button {
    left: 8%;
    top: 15rem;
  }
  .signature_bottom .signature_bottom_img {
    top: -15rem;
    left: -16rem;
  }
  .signature_bottom .signature_img_01 {
    left: 44rem;
  }
  .signature_bottom .signature_img_03 {
    left: 15rem;
  }
  .signature_bottom .signature_bottom_title {
    top: 13rem;
    right: 5rem;
  }

}
@media all and (max-width:375px) {
  .signature_top {
    background-size: 214%;
    background-position: -32rem -2rem;
  }
  .signature_top_content .signature_logo img {
    display: none;
  }
  .signature_top .brand_button {
    top: 15rem;
    left: 54%;
  }
  .signature_top .signature_top_title {
    top: 10rem;
    left: 6rem;
  }
  .signature_top .signature_top_title h1 {
    font-size: 35px;
  }
  .signature_top .signature_top_title h2 {
    font-size: 17px;
  }
  .signature_bottom {
    height: 462px;
  }
  .signature_bottom .signature_bottom_content {
    margin-top: 35rem;
  }
  .signature_bottom .signature_img_03 {
    top: -155px;
    left: 58px;
  }
  .signature_bottom .signature_img_03 img {
    width: 170px;
  }
  .signature_bottom .signature_img_02 {
    top: -9rem;
    left: 32rem;
  }
  .signature_bottom .signature_img_02 img {
    width: 120px;
  }
  .signature_bottom .signature_img_01 {
    left: 21rem;
  }
  .signature_bottom .signature_img_01 img {
    width: 108px;
  }
  .signature_bottom .signature_bottom_title {
    right: 6rem;
    top: -9rem;
  }
  .signature_bottom .signature_bottom_title h1 {
    font-size: 30px;
    text-align: end;
  }
  .signature_bottom .signature_bottom_title h2 {
    font-size: 16px;
  }
  .signature_bottom .signature_bottom_img {
    top: -28rem;
    left: -7rem;
  }

}


/* membership */
.membership {
  width: 100%;
  height: 500px;
  background: url(../images/bg_membership.png) no-repeat center / cover;
}
.membership .membership_content {
  max-width: 1440px;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.membership_content .membership_img {
  position: absolute;
  margin-top: -55px;
}
.membership_content .membership_img .img_01 {
  position: absolute;
  bottom: -128px;
  left: 50px;
  z-index: 1;
}
.membership_content .membership_img .img_02 {
  position: absolute;
  left: 392px;
  bottom: -200px;
}
.membership_content .membership_text {
  position: absolute;
  color: #F0F0F0;
  z-index: 2;
  top: 13rem;
  right: 20rem;
}
.membership_content .membership_text h1 {
  font-family: 'Pretendard-Regular';
  font-size: 50px;
  line-height: 140%;
  letter-spacing: -0.9px;
  font-weight: 400;
  margin-bottom: 2rem;
}
.membership_content .membership_text h2 {
  font-size: 26px;
  font-weight: 200;
  line-height: 0px;
  letter-spacing: -0.9px;
}
.membership_content .membership_text p {
  margin-top: 30px;
  font-size: 15px;
  font-weight: 200;
  line-height: 130%;
  letter-spacing: -0.5px;
  color: #acb0c8;

}
.membership_content .membership_btn {
  position: absolute;
  top: 21rem;
  left: 0;
}
.membership_content .brand_btn:hover {
  background-color: #2F8DF8;
}
.membership_content .membership_contact {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 20px;
  right: 20rem;
  top: 12rem;
}
.membership_content .membership_contact img {
  position: absolute;
  width: 129px;
  height: 194px;
}
.membership_content .membership_icon {
  top: 24rem;
  right: 17px;
  position: absolute;
}
.membership_content .membership_icon img {
  width: 162px;
  height: 41px;
}

@media all and (max-width:1024px) {
  .membership_content .membership_text {
    right: 7rem;
  }
  .membership_content .membership_contact {
    display: none;
  }
  .membership_content .membership_text h1 {
    font-size: 40px;
  }
  .membership_content .membership_text h2 {
    font-size: 20px;
  }
  .membership_content .membership_text p {
    font-size: 14px;
  }
  .membership_content .membership_img .img_01 {
    width: 300px;
    top: -193px;
  }
  .membership_content .membership_img .img_02 {
    left: 26rem;
  }
}
@media all and (max-width:768px) {
  .membership_content .membership_text { top: 7rem; right: 2rem;}
  .membership_content .membership_text p { font-size: 13px;}
  .membership_content .membership_img { margin-left: -3rem;}
  .membership_content .membership_img .img_01 { width: 260px;}
  .membership_content .membership_img .img_02 { width: 250px; top: -6rem; left: 19rem;}
  .membership_content .membership_btn { top: 18rem; }
}

@media all and (max-width:425px) {
  .membership_content .membership_img {
    margin-left: 0rem;
  }
  .membership_content .membership_img .img_01 {
    width: 180px;
  }
  .membership_content .membership_img .img_02 {
    width: 180px;
    top: -13rem;
    left: 19rem;
  } 
  .membership_content .membership_text {
    top: 27rem;
    right: 12rem;
  }
  .membership_content .membership_text h1 {
    font-size: 30px;
  }
  .membership_content .membership_text h2 {
    font-size: 17px;
  }
  .membership_content .membership_text p {
    font-size: 11px;
    margin-top: 15px;
  }
  .membership_content .membership_btn {
    top: 13rem;
  }

}
@media all and (max-width:375px) {
  .membership_content .membership_img {
    margin-left: -2rem;
  }
  .membership_content .membership_img .img_01 {
    width: 180px;
  }
  .membership_content .membership_img .img_02 {
    width: 180px;
    top: -13rem;
    left: 19rem;
  } 
  .membership_content .membership_text {
    top: 27rem;
    right: 9rem;
  }  
  .membership_content .membership_text h1 {
    font-size: 30px;
  }
  .membership_content .membership_text h2 {
    font-size: 17px;
  }
  .membership_content .membership_text p {
    font-size: 11px;
    margin-top: 15px;
  }
  .membership_content .membership_btn {
    top: 13rem;
  }
}

/* space */
.space {
  width: 100%;
  background: url(../images/bg_space.png) no-repeat center / cover;
}
.space .space_intro {
  max-width: 1440px;
  width: 100%;
  height: 831px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.space_intro .space_intro_title{
  position: absolute;
  display: flex;
  align-items: center; /* 세로 정렬! */
  justify-content: center; /* 가로 정렬 (선택사항) */
  height: 268px; /* 부모 높이 필요 */
  top: 13%;
  left: 13%;
}
.space_intro .space_intro_title h1 {
  width: 10px;
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  font-family: 'NanumSquare', sans-serif;
}
.space_intro .space_intro_desc {
  position: absolute;
  top: 100px;
  margin-right: 170px;
  
}
.space_intro .space_intro_desc h1 {
  color: #dddddd;
  font-size: 40px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -1.9px;
  margin-top: 1rem;
}
.space_intro .space_intro_desc p {
  color: #F0F0F0;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: -0.5px;
  margin-right: 10rem;
  color: #98abb5;
}
.space_intro .space_btn {
  position: absolute;
  top: 32%;
  margin-right: 33%;
}
.space_intro .space_btn .brand_button:hover {
  background-color: #2F8DF8;
}
.space_intro .space_content {
  position: absolute;
  top: 244px;
  right: 646px;
}
.space_intro .space_content .space_01 {
  position: absolute;
  top: 59px;
  left: -79px;
}
.space_intro .space_content .space_01:hover {
  background-color: #C7ABF4;
  cursor: pointer;
}
.space_intro .space_content .space_02 {
  position: absolute;
  top: 5px;
  left: 108px;
}
.space_intro .space_content .space_02:hover {
  background: url(../images/space_02_hover.svg);
  cursor: pointer;
}
.space_intro .space_content .space_03 {
  position: absolute;
  top: -132px;
  left: 411px;
}
.space_intro .space_content .space_03:hover {
  background-color: #CC2D75; 
  cursor: pointer;
}
.space_intro .space_content .space_04 {
  position: absolute;
  top: 222px;
  left: -80px;
}
.space_intro .space_content .space_04:hover {
  background-color: #30BCF6; 
  cursor: pointer;
}
.space_intro .space_content .space_05 {
  position: absolute;
  top: 222px;
  left: 107px;
}
.space_intro .space_content .space_05:hover {
  background-color: #1E3A8A;
  cursor: pointer;
}
.space_intro .space_content .space_06 {
  position: absolute;
  top: 222px;
  left: 410px;
}
.space_intro .space_content .space_06:hover {
  background-color: #C52CC5;
  cursor: pointer;
}
.space_intro .space_content .space_07 {
  position: absolute;
  top: -133px;
  right: -403px;
}

@media all and (max-width:1024px) {
  .space_intro .space_intro_desc {
    margin-right: 11rem;
  }
  .space_intro .space_intro_desc h1 {
    font-size: 24px;
    margin-left: 5rem;
  }
  .space_intro .space_btn {
    top: 26%;
    left: 30rem;
  }
  .space_intro .space_intro_desc p {
    margin-left: 5rem;
    font-size: 14px;

  }
}

@media all and (max-width:768px) {
  .space { margin-top: 48rem;}
  .space .space_intro { height: 600px;}
  .space_intro .space_intro_desc { margin-right: 18rem;}
  .space_intro .space_intro_title { top: 13%; left: 9%;}
  .space_intro .space_intro_title h1 { font-size: 40px;}
  .space_intro .space_intro_desc p { font-size: 14px;}
  .space_intro .space_btn { top: 39%; left: 13rem;}
  .space_intro .space_content { right: 589px;}
  .space_intro .space_content .space_01{ height: 96px; top: -10px; left: 10rem;}
  .space_intro .space_content .space_02{ width: 185px; top: -44px; left: 217px;}
  .space_intro .space_content .space_03{ width: 111px; height: 220px; left: 407px; top: -132px;}
  .space_intro .space_content .space_04{ width: 115px; top: 95px; left: 96px;}
  .space_intro .space_content .space_05{ width: 187px; top: 95px; left: 215px;}
  .space_intro .space_content .space_06{ width: 112px; height: 212px; top: 75px; left: 407px; }
  .space_intro .space_content .space_07{ width: 148px; top: -131px; right: -401px;}
}

@media all and (max-width:425px) {
  .space_intro .space_content {
    right: 52rem;
    top: 30rem;
  }
  .space_intro .space_intro_desc {
    margin-right: -13rem;
    top: 7rem;
  }
  .space_intro .space_intro_desc p {
    width: 300px;
  }
  .space_intro .space_btn {
    top: 32%;
    left: 10rem;
  }
  .space_intro .space_intro_title {
    top: 4%;
  }

  .space_intro .space_intro_title h1 {
    font-size: 30px;
  }

  

  .space_intro .space_content .space_01{ width: 88px; height: 96px; top: 41px; left: 145px;}
  .space_intro .space_content .space_02{ width: 143px; top: 25px; left: 239px;}
  .space_intro .space_content .space_03{ width: 86px; height: 329px; top: -123px; left: 388px;}
  .space_intro .space_content .space_04{ width: 90px; height: 141px; top: 129px; left: 144px;}
  .space_intro .space_content .space_05{ width: 145px; top: 133px; left: 238px;}
  .space_intro .space_content .space_06{ width: 86px; height: 212px; top: 94px; left: 388px; }
  .space_intro .space_content .space_07{ width: 117px; top: -41px; right: -382px;}
}

@media all and (max-width:375px) {
  .space_intro .space_intro_title {
    top: 0;
    left: 10%;
  }
  .space_intro .space_intro_title h1 {
    width: 110px;
    margin-bottom: 18rem;
    font-size: 30px;
  }
  .space_intro .space_intro_desc {
    margin-right: -7rem;
    top: 25px;
  }
  .space_intro .space_intro_desc p {
    margin-left: 3rem;
    margin-top: 1rem;
  }
  .space_intro .space_intro_desc h1 {
    font-size: 20px;
    margin-left: 3rem;
    margin-top: 6rem;
  }
  .space_intro .space_content {
    top: 30rem;
    right: calc(138% - 21px);
  }
  .space_intro .space_btn {
    top: 33%;
    left: 4rem;
  }
  .space_intro .space_content .space_01{ width: 88px; height: 96px; top: 41px; left: 145px;}
  .space_intro .space_content .space_02{ width: 143px; top: 25px; left: 239px;}
  .space_intro .space_content .space_03{ width: 86px; height: 329px; top: -123px; left: 388px;}
  .space_intro .space_content .space_04{ width: 90px; height: 141px; top: 129px; left: 144px;}
  .space_intro .space_content .space_05{ width: 145px; top: 133px; left: 238px;}
  .space_intro .space_content .space_06{ width: 86px; height: 212px; top: 94px; left: 388px; }
  .space_intro .space_content .space_07{ width: 117px; top: -41px; right: -382px;}
}

.msection.menu .menu_top .tit{font-size: 60px; color: #000; margin-right: 55px; font-family: 'Geometos';}
.msection.menu .menu_top .tab{display: flex; gap: 20px;}
.msection.menu .menu_top .tab > div{display: flex; justify-content: center; align-items: center; height: 52px; border-radius: 26px; font-size: 26px; padding: 0 30px; color: #333; background: #fff; cursor: pointer; font-family: 'Geometos';}
.msection.menu .menu_top .tab > div.active{background: #242424; color: #fff;}
.msection.menu .menu_slider_wrap{position: relative; margin-top: 50px; margin-bottom:170px; }
.msection.menu .menu_slider_wrap .swiper-wrapper{align-items: center; height: auto; }
.msection.menu .menu_slider_wrap .swiper-wrapper .swiper-slide{width: 20%; position: relative;}
.msection.menu .menu_slider_wrap .swiper-wrapper .swiper-slide .img{text-align: right;}
.msection.menu .menu_slider_wrap .swiper-wrapper .swiper-slide .img img {width: 80%;}
.msection.menu .menu_slider_wrap .swiper-wrapper .swiper-slide .txt{visibility: hidden; text-align: center; font-size: 18px; color: #333; margin-top: 40px; font-family: 'SUIT'; font-weight: 200; }
.msection.menu .menu_slider_wrap .swiper-wrapper .swiper-slide .hover{display: none; width: 169px; height: 189px; background: url(../images/icon_menu_hover.png); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); align-items: center; justify-content: center; font-family: 'SUIT'; font-weight: 500; font-size: 22px; color: #fff; flex-direction: column;  cursor: pointer; text-align: center;}
.msection.menu .menu_slider_wrap .swiper-wrapper .swiper-slide .hover img{margin-bottom: 10px;}
.msection.menu .menu_slider_wrap .swiper-wrapper .swiper-slide.swiper-slide-next .img{text-align:right;}
.msection.menu .menu_slider_wrap .swiper-wrapper .swiper-slide.swiper-slide-next + .swiper-slide .img{text-align:left;}
.msection.menu .menu_slider_wrap .swiper-wrapper .swiper-slide.swiper-slide-prev .img{text-align:left;}
.msection.menu .menu_slider_wrap .swiper-wrapper .swiper-slide.swiper-slide-active{transform: scale(1); margin:0}
.msection.menu .menu_slider_wrap .swiper-wrapper .swiper-slide.swiper-slide-active:hover .hover{display: flex;}
.msection.menu .menu_slider_wrap .swiper-wrapper .swiper-slide.swiper-slide-active .txt {visibility: visible;}
.msection.menu .menu_slider_wrap .swiper-wrapper .swiper-slide.swiper-slide-active .img{text-align: center;}
.msection.menu .menu_slider_wrap .swiper-wrapper .swiper-slide.swiper-slide-active .img img {width: 100%;}
.msection.menu .menu_slider_wrap .sliderBtn{position: absolute; z-index: 6; top: 33%; left: 50%; transform: translateX(-50%); padding:0 100px; display: flex; justify-content: center; gap: 300px; pointer-events: none;}
.msection.menu .menu_slider_wrap .sliderBtn button{width: 70px; height: 70px; align-items: center; justify-content: center; display: flex; border: 1px solid #d1d1d1; border-radius: 50%; pointer-events: auto;}
.msection.menu .menu_slider_wrap .sliderBtn .menuPrev{}
.msection.menu .menu_slider_wrap .sliderBtn .menuNext{}


.msection.about{width: 100%; background: #dd1a32; display: flex;}
.msection.about .aboutBox.active{width: 60%;}
.msection.about .aboutBox{width: 20%; height: 940px; padding: 250px 0 0 40px; color: #fff; transition: all 1s ;}
.msection.about .aboutBox:nth-of-type(2){border-left: 1px solid #e75f70; border-right: 1px solid #e75f70;}

.msection.about .aboutBox.active:nth-of-type(1){background: url(../images/img_about_bg01.png) no-repeat center / cover;}
.msection.about .aboutBox.active:nth-of-type(2){background: url(../images/img_about_bg02.png) no-repeat center / cover;}
.msection.about .aboutBox.active:nth-of-type(3){background: url(../images/img_about_bg03.jpg) no-repeat center / cover;}
.msection.about .aboutBox .tit{font-size: 40px; font-family: 'gmarket'; font-weight: 700;}
.msection.about .aboutBox .desc{ font-size: 18px; margin-top: 45px; font-family: 'SUIT';  font-weight: 400;}
.msection.about .aboutBox .link{opacity: 0; margin-top: 55px; }
.msection.about .aboutBox .link a{width: 182px; height: 57px;   display: inline-block;   background: #fff; color: #000; font-family: 'SUIT';  font-weight: 200; font-size: 22px; border-radius: 28.5px; text-align: center; line-height: 57px;}
.msection.about .aboutBox.active{padding-left:200px;}
.msection.about .aboutBox.active .tit{font-size: 80px;}
.msection.about .aboutBox.active .desc{font-size: 20px;}
.msection.about .aboutBox.active .link{opacity: 1;}

.msection.board{display: flex; justify-content: space-between; margin:100px auto;}
.msection.board .snsWrap{width: 543px;}
.msection.board .snsWrap .top{display: flex; justify-content: flex-start; align-items: baseline; margin-bottom: 80px;}
.msection.board .snsWrap .top .tit{font-size: 72px; color: #000; margin-right: 40px; font-family: 'Geometos';}
.msection.board .snsWrap .top .desc{font-size: 24px; color: #333; font-family: 'SUIT';  font-weight: 200;}
.msection.board .snsWrap .img{display: flex; flex-wrap: wrap; gap: 40px;}
.msection.board .snsWrap .img > div {
    width: calc(50% - 20px);
}
.msection.board .snsWrap .img > div a {display: block;border-radius: 50%; overflow: hidden; border-bottom-left-radius: 0; position: relative;}
.msection.board .snsWrap .img > div a::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.msection.board .snsWrap .img > div a > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 1000%;
    min-height: 1000%;
    max-width: none;
    max-height: none;
    -webkit-transform: translate(-50%, -50%) scale(0.1);
            transform: translate(-50%, -50%) scale(0.1);
}
.msection.board .newsWrap{width: 700px;}
.msection.board .newsWrap > .top{display: flex; justify-content: flex-start; align-items: baseline; margin-bottom: 80px;}
.msection.board .newsWrap > .top .tit{font-size: 72px; color: #000; margin-right: 40px; font-family: 'Geometos';}
.msection.board .newsWrap > .top .desc{font-size: 24px; color: #333; font-family: 'SUIT';  font-weight: 200;}

.msection.board .newsWrap .boardWrap{}
.msection.board .newsWrap .boardWrap + .boardWrap{margin-top: 60px;}
.msection.board .newsWrap .boardWrap > .top{display: flex; justify-content: space-between;}
.msection.board .newsWrap .boardWrap > .top .tit{font-size: 30px; color: #000; font-family: 'SUIT';  font-weight: 700;} 
.msection.board .newsWrap .boardWrap > .top .link{}
.msection.board .newsWrap .boardWrap > .top .link a{display: inline-block; background: #333; color: #fff; font-size: 15px; width: 80px; height: 30px; line-height: 30px; border-radius: 15px; text-align: center;}
.msection.board .newsWrap .boardWrap > .list{border-top:1px solid #979797; border-bottom:1px solid #979797; margin-top: 20px;}
.msection.board .newsWrap .boardWrap > .list > div{display: flex; align-items: center; height: 60px; font-family: 'SUIT';  font-weight: 700;} 
.msection.board .newsWrap .boardWrap > .list > div:hover{color: #dd1a32; cursor: pointer;}
.msection.board .newsWrap .boardWrap > .list > div + div{border-top: 1px solid #e4e4e4;}
.msection.board .newsWrap .boardWrap > .list > div a{display: inline-block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.msection.board .newsWrap .boardWrap > .list > div a::before{content: ''; display: inline-block; background: #000; font-weight: 300; width: 2px; height: 2px; border-radius: 50%; vertical-align: middle; margin-right: 8px;}


/* footer */
.footer{width: 100%; background: #2F8DF8; position: relative;}
.footer_inner{max-width:1440px; margin: 0 auto; padding: 60px; display: flex;}
.footer_inner .flogoTel .ftel{margin-top: 15px;}
.footer_inner .flogoTel .ftel li{font-size: 20px; color: #fff; line-height: 1 ; font-family: 'Pretendard'; font-weight: 300;}
.footer_inner .flogoTel .ftel span{color: #fff; font-size: 20px; vertical-align: middle; font-family: 'Pretendard'; }
.footer_inner .finfo{margin: 0 auto; }
.footer_inner .finfo .link{ display: flex; margin-top: 66px; }
.footer_inner .finfo .link li{ margin-right: 39px; }
.footer_inner .finfo .link li a{color: #fff; font-size: 20px; font-weight: 200;}
.footer_inner .finfo .address{margin-top: 20px;}
.footer_inner .finfo .address > li{ color: #fff; font-size : 16px; font-family: 'SUIT'; font-weight: 200;}
.footer_inner .finfo .address > li.name{color: #fff;  font-weight: 300; font-family: 'Pretendard'; font-size: 10px;}
.footer_inner .finfo .address > li.name span {color: #fff; font-family: 'kdg_Medium'; font-size: 20px; margin-right: 4px;}
.footer_inner .finfo .copy{margin-top: 40px; color: #1d5390; font-size: 15px; font-weight: 100;}
.footer_inner .fsns{display: flex; gap: 10px; margin-top: 1rem;}
.footer_inner .fsns img {width: 40px; height: 40px;}

@media all and (max-width:1024px) {
  .footer_inner {
    padding: 60px;
  }
  .footer_inner .flogoTel .ftel {
    display: flex;
    flex-direction: column;
    width: 191px;
  }
  .footer_inner .finfo {
    margin-left: 5%;
  }
  .footer_inner .finfo .link li a {
    font-size: 18px;
  }
}

@media all and (max-width:768px) {
  .footer {height: 570px;}
  .footer_inner {
    display: contents;
  }
  .flogoTel .flogo {
    margin-top: 4rem;
    margin-left: 3rem;
  }
  .footer_inner .flogoTel .ftel {
    margin-left: 4rem;
  }

  .footer_inner .fsns {
    margin-top: 2rem;
    margin-left: 4rem;
  }
  .footer_inner .finfo .copy {
    font-size: 15px;
  }

}

@media all and (max-width:425px) {
  .flogoTel .flogo {
    margin-left: 1rem;
  }
  .footer_inner .flogoTel .ftel {
    margin-left: 2rem;
  }
  .footer_inner .flogoTel .ftel li {
    font-size: 17px;
  }
  .footer_inner .flogoTel .ftel li span {
    font-size: 17px;
  }
  .footer_inner .finfo .link {
    margin-top: 35px;
  }
  .footer_inner .finfo .link li {
    margin-right: 17px;
  }
  .footer_inner .finfo .link li a {
    font-size: 15px;
  }
  .footer_inner .finfo .address {
    margin-top: 4rem;
  } 
  .footer_inner .finfo .copy {
    width: 300px;
    font-size: 15px;
    margin-top: 4rem;
  }
  .footer_inner .fsns {
    margin-top: 2rem;
    margin-left: 2rem;
  }
}

@media all and (max-width:375px) {
  .flogoTel .flogo {
    margin-left: 1rem;
  }
  .footer_inner .flogoTel .ftel {
    margin-left: 2rem;
  }
  .footer_inner .flogoTel .ftel li {
    font-size: 17px;
  }
  .footer_inner .flogoTel .ftel li span {
    font-size: 17px;
  }
  .footer_inner .finfo .link {
    margin-top: 35px;
  }
  .footer_inner .finfo .link li {
    margin-right: 17px;
  }
  .footer_inner .finfo .link li a {
    font-size: 15px;
  }
  .footer_inner .finfo .address {
    margin-top: 4rem;
  }
  .footer_inner .finfo .copy {
    font-size: 15px;
    margin-top: 5rem;
  }
  .footer_inner .fsns {
    margin-top: 2rem;
    margin-left: 2rem;
  }
}

/* login */

/* ✅ 전체 오버레이 */



