@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
  font-family: 'kdg_Medium'; /* 내가 지을 수 있는 이름 */
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/kdg_Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '행복고흥L';  
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/행복고흥L.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SangSangFlowerRoad'; 
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/SangSangFlowerRoad.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KCCHyerim-Regular';  
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/KCCHyerim-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 공통부문 */
.brand_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 22px; /* 텍스트와 아이콘 간격 */
  padding: 15px 20px;
  border: none;
  border-radius: 999px;
  background-color: white;
  color: #00263c; /* 텍스트 색상 */
  font-size: 19px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.brand_button:hover {
  background-color: #2F8DF8; /* 푸른여 메인 컬러 */
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

body.fixed{overflow: hidden}
.swiper-wrapper {height: auto !important;}
#wrap{overflow: hidden;}
.allMenu_wrap{
  width: 100%; 
  display: none; 
  opacity: 1; 
  align-items: center;
  justify-content: flex-end; 
  position: fixed; 
  z-index: 200; 
  width: 27%; 
  height: 120vh; 
  right: 0;
  background-color: #00263C;
  transition: all 0.4s ease;
}
.allMenu_wrap.on{display: flex;  opacity: 1;}
.allMenu{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.allMenu_wrap #allMenuClose{
  position: absolute; 
  right: 30px; 
  top: 30px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 52px; 
  height: 52px; 
  border-radius: 50%; 
  border: 3px solid #ffffff; color: #fff;}

.allMenu .menuWrap{
  width: 90%;
  /* padding-top: 200px; */
  padding-bottom: 300px;
}
.allMenu .menuWrap .menu{
  color: #fff; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: #c8c8c8 solid 2px;
  padding: 17px 15px;

}
.allMenu .menuWrap .menu:last-child {
  border-bottom: #c8c8c8 solid 2px;
}
/* .allMenu .menuWrap .menu + .menu{margin-top: 60px;} */
.allMenu .menuWrap .menu .dep1{
  font-size: 26px; 
  width: 500px; 
  height: 0px;
  font-family: 'SUIT'; 
  font-weight: 600; 
  position: relative; 
  text-decoration: none; 
  text-underline-offset: 10px; 
  text-decoration-thickness: 2px; 
  transition: all 0.2s;
}
.allMenu .menuWrap .menu .dep1.on,
.allMenu .menuWrap .menu .dep1:hover{
  text-decoration-color: #2F8DF8; 
  cursor: pointer;
}

.allMenu .menuWrap .menu .dep1.on:before,
.allMenu .menuWrap .menu .dep1:hover:before{
  position: absolute; 
  top: 0; 
  left: 10px;}
.menu .dep2 {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: max-height 0.4s ease;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menu li.active .dep2 {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}
.menu li.active .dep2 a {
  font-size: 20px;
}
.allMenu .menuWrap .menu .dep2 a:hover{
  color: #2F8DF8; 
  text-underline-offset: 5px; 
  text-decoration-thickness: 1px; 
  text-decoration-color: #2F8DF8; 
  cursor: pointer;
}
.allMenu .menuWrap .menu .dep2 a {display: block;}

.moMenuImg{display: none;}
.moLogo{display:none;}

.menuHover{
  display: block; 
  opacity: 0; 
  height: 700px;   
  position: absolute; 
  top: 0; 
  width: 100%; 
  z-index: -1; 
  overflow: hidden; 
  transition: all 0.4s;}
.menuHover.on{
  height: 700px;  
  opacity: 1;
}
.menuHover::after{content: ""; position: absolute; background: #fff; width: 100%; height: 350px; top: 0; left: 0; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);}
.menuHover .menuHover_inner{width:1400px; margin: 0 auto; position: relative; height: 100%; }
.menuHover .img .on{
  position: absolute;
  width: 130px;
  height: auto;
  bottom: 35rem;
  left: 7rem;
  z-index: 999;
}
.header{
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 100; 
  transition: all 0.3s; 
  overflow: hidden;
  cursor: pointer;
}
.header .headerInner {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .logo .off {
  display: block;
  width: 75px;
  height: 112px;
}
.header .logo .on {
  display: none;
  width: 75px;
  height: 112px;
}
.header .gnb_sub {
  position: absolute;
  display: flex;
  justify-content: right;
  width: 100%;
  padding: 5px 100px;
  top: 0;
}
.header .gnb_sub ul {
  display: flex;
  justify-content: right;
  right: 30px;
  gap: 20px;
}
.header .gnb_sub ul li {
  position: relative;
  color: #ffffff;
}
.header .gnb_sub ul li a:hover {
  color: #2F8DF8;
  cursor: pointer;
}
.header .gnb_sub ul li:not(:first-child)::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 12px;
  background-color: #007aff; /* 구분선 색상 */
}
.header .headerInner h1{
  margin: 20px auto 0 100px;
} 
.header .headerInner .gnb{
  display: flex; 
  margin: 35px auto; 
  gap: 8rem;
  padding-top: 30px;
}
.header .headerInner .gnb .dep1{font-size: 20px; color: #ffffff; position: relative; cursor: pointer;}
.header .headerInner .gnb .dep1:hover{color: #ddc81a;}
.header .headerInner .gnb .dep1 > span{font-family: 'SUIT'; font-weight: 600;}
.header .headerInner .gnb .dep1 > .dep2{display:none ; position: absolute;  font-size: 17px; padding: 30px 0 75px; color: #ddc81a; font-family: 'SUIT'; font-weight: 400;}
.header .headerInner .gnb .dep1 > .dep2 li:hover{color: #fff; text-decoration: underline; text-underline-offset: 3px;  text-decoration-thickness: 1px; text-decoration-color: #fff;}
.header .headerInner .gnb .dep1:hover >.dep2{display: block; padding-top: 20px;}
.header .headerInner .gnb .dep1 > .dep2 li + li{margin-top:13px;}

.header .headerInner .utill{
  display: flex; 
  gap: 10px; 
  margin: 45px 100px 0 auto ;
}
.header .headerInner .utill .menu,
.header .headerInner .utill .shop {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 55px; 
  height: 55px; 
  border-radius: 50%; 
  border: 3px solid #ffffff;
}

.header .headerInner .utill .shop .off, 
.header .headerInner .utill .menu .off {
  display: block;
  width: 25px;
  height: 28px;
  color: #fff;
}



.header .headerInner .utill .shop .on {display: none;}
.header .headerInner .utill .menu .on {display: none;}


/*header fixed*/
.header.fixed {background-color: #fff; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);}
.header.fixed .gnb_sub ul li {
  color: #2F8DF8;
}
.header.fixed .logo .off {display: none;}
.header.fixed .logo .on {display: block;}
.header.fixed .headerInner .gnb .dep1 {color: #000;}
.header.fixed .headerInner .gnb .dep1 > .dep2 li {color: #000;}
.header.fixed .headerInner .utill a, .header.fixed .headerInner .utill button  {border-color: #2F8DF8;}
.header.fixed .headerInner .utill .shop .off {display: none;}
.header.fixed .headerInner .utill .shop .on {display: block;}
.header.fixed .headerInner .utill .menu .off {display: none;}
.header.fixed .headerInner .utill .menu .on {display: block;}


.header.fixed.on {background-color: transparent;}
.header.fixed.on .headerInner .gnb .dep1 {color: #000;}

.header.on {overflow: unset;}
.header.on .logo .off {display: none;}
.header.on .logo .on {
  display: block;
  width: 75px;
  height: 112px;
}
.header.on .gnb_sub ul li { color: #2F8DF8;}
.header.on .headerInner .gnb .dep1 {color: #000; }
.header.on .headerInner .gnb .dep1:hover {color: #2F8DF8;}
.header.on .headerInner .gnb .dep1 > .dep2 li {color: #000;}
.header.on .headerInner .gnb .dep1 > .dep2 li:hover {color: #2F8DF8;}
.header.on .headerInner .utill a, .header.on .headerInner .utill button  {border-color: #2F8DF8;}
.header.on .headerInner .utill .shop .on {display: block;}
.header.on .headerInner .utill .shop .off {display: none;}
.header.on .headerInner .utill .menu .on {display: block;}
.header.on .headerInner .utill .menu .off {display: none;}
/* sub */
.sub_title {
  width: 100%;
  background: url(../images/svisual_06.png) no-repeat center /cover ;
}
.sub_title_content {
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub_title .sub_title_text {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 10rem;
  bottom: 7rem;
}
.sub_title .sub_title_text h1 {
  position: absolute;
  font-size: 50px;
  font-weight: 400;
  color: #fff;
  bottom: 3rem;
}
.sub_title .sub_title_text p {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
}
.sub_title .sub_menu {
  position: absolute;
  bottom: 0;
}
.sub_menu li  {
  display: flex;
  text-align: center;
}
.sub_menu li a {
  width: 200px;
  height: 40px;
  padding: 8px 10px;
  color: #fff;
  font-size: 18px;
  background-color: rgba(0, 38, 60, 0.7);
}
.sub_menu li .active {
  background-color: rgba(47, 141, 248, 0.7);;
}
/* member1_main */
.member1_main {
  width: 100%;
  background: #fff;
}
.member1_main .main_content {
  max-width: 1440px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main_content .vmain_logo {
  position: absolute;
  width: 1200px;
  height: 48px;
  font-size: 30px;
  top: 10rem;
  left: 12rem;
  border-bottom: 2px solid #E2E8F0;
}
.main_content .vmain_logo::after {
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 28px;
  background-color: #007aff; /* 구분선 색상 */
}
.main_content .main_text {
  position: absolute;
  top: 25rem;
  text-align: center;
}
.main_text h2 {
  font-size: 30px;
  font-weight: 400;
}
.main_text h1 {
  font-size: 50px;
  font-weight: 500;
  color: #2F8DF8;
}

/* search-box */

.search-box {
  position: absolute;
  right: 12rem;
  top: 40rem;
  display: flex;
  width: 300px;
  height: 40px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.search-box input {
  flex: 1;
  border: none;
  padding: 0 10px;
  font-size: 15px;
  outline: none;
}

.search-box button {
  width: 70px;
  border: none;
  background-color: #2F8DF8; /* 파란색 버튼 */
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-box button:hover {
  background-color: #1e6fd6;
}
/* faq */
.faq {
  width: 100%;
}
.faq-list {
  max-width: 1200px;
  height: 700px;
  margin: 0 auto;
  position: relative;
  margin-top: 0rem;
  margin-bottom: 10rem;
}
.faq-item {
  border-bottom: 1px solid #000;
}
.faq-item:first-child {
  border-top: 1px solid #000;
}

.faq-question {
  display: flex;
  width: 1200px;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  cursor: pointer;
}

.faq-question .icon {
  background-color: #00263C;
  color: #fff;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
}

.faq-question .text {
  flex: 1;
  font-size: 17px;
  color: #111;
  margin-left: 2rem;
}

.faq-question .arrow {
  font-size: 25px;
  color: #00263C;
  transition: transform 0.3s ease;
}

.faq-item.active .arrow {
  transform: rotate(180deg);
}

.faq-answer {
  max-height: 0; 
  overflow: hidden;
  background-color: #fafafa;  
  padding: 0 40px 0;
  font-size: 17px;
  display: flex;
  align-items: center;
  transition:
  max-height 0.4s ease-in-out,
  padding-top 0.4s ease-in-out,
  padding-bottom 0.4s ease-in-out,
  padding-left 0.4s ease-in-out;
}
.faq-answer span {
  background-color: #00263C;
  color: #fff;
  font-weight: 300;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-right: 29px;
}




/* footer */
.footer{width: 100%; background: #2F8DF8; position: relative;}
.footer_inner{max-width:1440px; margin: 0 auto; padding: 60px 0 60px; display: flex;}
.footer_inner .flogoTel .ftel{margin-top: 15px;}
.footer_inner .flogoTel .ftel li{font-size: 20px; color: #fff; line-height: 1 ; font-family: 'Pretendard'; font-weight: 300;}
.footer_inner .flogoTel .ftel span{color: #fff; font-size: 20px; vertical-align: middle; font-family: 'Pretendard'; }
.footer_inner .finfo{margin: 0 auto; margin-left: 20%;}
.footer_inner .finfo .link{ display: flex; margin-top: 66px; }
.footer_inner .finfo .link li{ margin-right: 39px; }
.footer_inner .finfo .link li a{color: #fff; font-size: 20px; font-weight: 200;}
.footer_inner .finfo .address{margin-top: 20px;}
.footer_inner .finfo .address > li{ color: #fff; font-size : 16px; font-family: 'SUIT'; font-weight: 200;}
.footer_inner .finfo .address > li.name{color: #fff;  font-weight: 300; font-family: 'Pretendard'; font-size: 10px;}
.footer_inner .finfo .address > li.name span {color: #fff; font-family: 'kdg_Medium'; font-size: 20px; margin-right: 4px;}
.footer_inner .finfo .copy{margin-top: 40px; color: #fff; font-size: 18px; font-weight: 100;}
.footer_inner .fsns{margin: 0 auto; display: flex; gap: 10px;}
.footer_inner .fsns img {width: 40px; height: 40px;}


