@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
  font-family: 'kdg_Medium'; /* 내가 지을 수 있는 이름 */
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/kdg_Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '행복고흥L';  
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/행복고흥L.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SangSangFlowerRoad'; 
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/SangSangFlowerRoad.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KCCHyerim-Regular';  
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/KCCHyerim-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* sub */
.sub_title {
  width: 100%;
  background: url(../images/svisual_06.png) no-repeat center /cover ;
}
.sub_title_content {
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub_title .sub_title_text {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 10rem;
  bottom: 7rem;
}
.sub_title .sub_title_text h1 {
  font-size: 50px;
  font-weight: 400;
  color: #fff;
  bottom: 3rem;
}
.sub_title .sub_title_text p {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
}
.sub_title .sub_menu {
  position: absolute;
  bottom: 0;
}
.sub_menu li  {
  display: flex;
  text-align: center;
}
.sub_menu li a {
  width: 200px;
  height: 40px;
  padding: 8px 10px;
  color: #fff;
  font-size: 18px;
  background-color: rgba(0, 38, 60, 0.7);
}
.sub_menu li .active {
  background-color: rgba(47, 141, 248, 0.7);;
}
/* member1_main */
.member1_main {
  width: 100%;
  background: #fff;
}
.member1_main .main_content {
  max-width: 1440px;
  height: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main_content .vmain_logo {
  position: absolute;
  width: 1200px;
  height: 48px;
  font-size: 30px;
  top: 10rem;
  left: 12rem;
  border-bottom: 2px solid #E2E8F0;
}
.main_content .vmain_logo::after {
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 28px;
  background-color: #007aff; /* 구분선 색상 */
}
.main_content h1 {
  position: absolute;
  color: #2F8DF8;
  top: 20rem;
  font-size: 50px;
  font-weight: 500;
  font-family: 'Pretendard-Regular';
  letter-spacing: -1.0px;
}
.main_content p {
  position: absolute;
  top: 35rem;
  left: 20rem;
  text-align: start;
  color: #767676;
  font-weight: 300;
  font-size: 25px;
  line-height: 140%;
}
.main_content span {
  font-weight: 400;
  color: #111;
}
.main_content .points {
  position: absolute;
  top: 35rem;
  left: 85rem;
}
.main_content .yogurt {
  position: absolute;
  top: 41rem;
  right: 15rem;
}

@media all and (max-width:1024px) {
  .main_content .vmain_logo {
    width: 800px;
  }
  .main_content h1 {
    font-size: 40px;
  }
  .main_content p {
    top: 30rem;
    left: 13rem;
    font-size: 19px;
  }
  .main_content .points {
    top: 30rem;
    left: 60rem;
  }
  .main_content .yogurt {
    top: 36rem;
    right: 6rem;
  }
  
}

@media all and (max-width:768px) {
  .main_content .vmain_logo {
    width: 600px;
    height: 38px;
    left: 10rem;
    font-size: 25px;
  }
  .main_content h1 {
    left: 9rem;
  }
  .main_content p {
    width: 277px;
    left: 9rem;
  }
  .main_content .points {
    left: 42rem;
  }
  .main_content .yogurt {
    top: 40rem;
    right: 4rem;
  }


}


/* member1_sub */
.member1_sub {
  width: 100%;
  background-color: #ECECEC;
}
.member1_sub .sub_content {
  max-width: 1440px;
  width: 100%;
  height: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.member1_sub .sub_content ul {
  position: absolute;
  top: 6rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.member1_sub .sub_content ul li {
  position: relative;
  width: 250px;
  height: 150px;
  margin: 0 auto;
  border-radius: 16px;
  padding: 15px 33px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  text-align: center;
  cursor: pointer;
}
.member1_sub .sub_content ul li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
}

@media all and (max-width:1024px) {

  .member1_sub .sub_content ul li {
    width: 220px;
    height: 140px;
  }
}
@media all and (max-width:768px) {
  .member1_sub .sub_content ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 100px 20px;
  }
  
}

.sub_content ul li h3 {
  position: absolute;
  margin-top: 1rem;
  margin-left: 5rem;
  font-size: 31px;
  font-weight: 500;
  line-height: 100%;
}
.sub_content ul li p {
  position: absolute;
  bottom: 1rem;
  font-size: 15px;
  white-space: pre-line;
}
.sub_content ul li h5 {
  width: 200px;
  font-size: 17px;
  font-weight: 400;
  margin-top: calc(95% - 2px);
  margin-left: 1rem;
}
.sub_content ul li img {
  position: absolute;
  top: 18rem;
  right: 21rem;
}
/* card1 */
.sub_content .card1 {
  border: 4px solid #A5D6F9;
}
.sub_content .card1 p {
  margin-left: 2rem;
}
.sub_content .card1 h3 {

  color: #A5D6F9;
}
/* card2 */
.sub_content .card2 {
  border: 4px solid #548ECF;
}
.sub_content .card2 h3 {
  color: #548ECF;
}
.sub_content .card2 p {

  right: 2rem;
}
/* card3 */
.sub_content .card3 {
  border: 4px solid #B1764F;
}
.sub_content .card3 h3 {
  color: #B1764F;
}
.sub_content .card3 p {

  right: 3rem;
}
/* card4 */
.sub_content .card4 {
  border: 4px solid #002D59;
}
.sub_content .card4 p {
  position: absolute;
  right: 2rem;
}
.sub_content .card4 h3 {
  color: #002D59;
}
.sub_content .card4 img {
  position: absolute;
  left: 3rem;
}

/* notice */
.sub_content .notice {
  position: absolute;
  left: 17rem;
  bottom: 6rem;
}
.sub_content .notice h1 {
  font-size: 30px;
  margin-bottom: -2rem;
}
.sub_content .notice p {
  font-size: 16px;
  font-weight: 200;
  line-height: 160%;
  white-space: pre-line;
}
.sub_content .notice span {
  font-size: 18px;
  font-weight: 400;
}


@media all and (max-width:1024px) {
  .sub_content ul li h3 {
    margin-left: 19%;
    margin-top: -1rem;
  }
  .sub_content ul li p {
    bottom: 5px;
    left: 10%;
  }
  .sub_content .card1 p {
    margin-bottom: 1rem;
  }
  .sub_content .card3 p {
    right: 2rem;
  }
  .sub_content ul li h5 {
    width: 120px;
    font-size: 15px;
    margin-top: calc(95% - -25px);
    margin-left: 2rem;
  }
  .sub_content ul li img {
    right: 17rem;
  }
  .sub_content .card4 img {
    left: 2rem;
  }  
}


@media all and (max-width:768px) {
  .member1_sub .sub_content {
    height: 950px;
  }
  .sub_content .card1 p {
    margin-left: 1rem;
  }
  .sub_content .card2 p {
    right: 25px;
  }

  .sub_content ul li img {
    top: 15rem;
  }
  .sub_content ul li h3 {
    margin-left: 17%;
  }
 
  .sub_content ul li h5 {
    margin-top: 13rem;
    font-size: 14px;
  }
  .sub_content .card4 img {
    left: 1rem;
  }

  .sub_content .notice {
    left: 9rem;
    bottom: 7rem;
  }
  .sub_content .notice h1 {
    font-size: 20px;
  }
  .sub_content .notice p {
    font-size: 13px;
  }
}

@media (max-width: 425px) {
  .main_content .vmain_logo {
    width: 316px;
    height: 31px;
    left: 6rem;
    font-size: 20px;
  }
  .main_content h1 {
    font-size: 30px;
    left: 5rem;
  }
  .main_content p {
    left: 5rem;
  }
  .main_content .points {
    top: 52rem;
    left: 8rem;
  }
  .main_content .yogurt {
    display: none;
  }
  .member1_sub .sub_content {
    height: 1200px;
  }
  .member1_sub .sub_content ul {
    gap: 100px 10px;
  }
  .member1_sub .sub_content ul li {
    width: 170px;
    height: 170px;
  }
  .sub_content ul li h3 {
    font-size: 25px;
    margin-left: 12%;
    margin-top: 10%;
  }
  .sub_content .card1 p  {
    margin-left: -1rem;
    margin-bottom: 2rem;
  }
  .sub_content .card2 p {
    right: 12px;
  }
  .sub_content .card4 p,
  .sub_content .card3 p {
    right: 1rem;
  }


  .sub_content ul li h5 {
    margin-top: 17rem;
    margin-left: -1rem;
  }
  .sub_content ul li img {
    display: none;
  }
  .sub_content .notice {
    width: 81%;
    left: 4rem;
    bottom: 7rem;
  }
  .sub_content .notice h1 {
    font-size: 18px;
    margin-bottom: 0px;
  }
  .sub_content .notice span {
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .main_content .vmain_logo {
    width: 292px;
    left: 5rem;
  }
  .main_content h1{
    left: 3rem;
  }
  .main_content .points {
    left: 5rem;
  }

  
}




