@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
  font-family: 'kdg_Medium'; /* 내가 지을 수 있는 이름 */
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/kdg_Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '행복고흥L';  
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/행복고흥L.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SangSangFlowerRoad'; 
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/SangSangFlowerRoad.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KCCHyerim-Regular';  
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/KCCHyerim-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* member1_main */
.member1_main {
  width: 100%;
  background: #fff;
}
.member1_main .main_content {
  max-width: 1440px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main_content .vmain_logo {
  position: absolute;
  width: 1200px;
  height: 48px;
  font-size: 30px;
  top: 10rem;
  left: 12rem;
  border-bottom: 2px solid #E2E8F0;
}
.main_content .vmain_logo::after {
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 28px;
  background-color: #007aff; /* 구분선 색상 */
}
.main_content .main_text {
  position: absolute;
  width: 100%;
  top: 1rem;
  left: 51rem;
  text-align: center;
}
.main_text h2 {
  font-size: 30px;
  font-weight: 400;
}
.main_text h1 {
  font-size: 50px;
  font-weight: 500;
  color: #2F8DF8;
  margin-top: -5rem;
  margin-left: 16rem;
}

/* search-box */

.search-box {
  position: absolute;
  right: 12rem;
  top: 40rem;
  display: flex;
  width: 300px;
  height: 40px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.search-box input {
  flex: 1;
  border: none;
  padding: 0 10px;
  font-size: 15px;
  outline: none;
}

.search-box button {
  width: 70px;
  border: none;
  background-color: #2F8DF8; /* 파란색 버튼 */
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-box button:hover {
  background-color: #1e6fd6;
}
/* faq */
.faq {
  width: 100%;
}
.faq-list {
  max-width: 1200px;
  height: 700px;
  margin: 0 auto;
  position: relative;
  margin-top: 0rem;
  margin-bottom: 10rem;
}
.faq-item {
  border-bottom: 1px solid #000;
}
.faq-item:first-child {
  border-top: 1px solid #000;
}

.faq-question {
  display: flex;
  width: 1200px;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  cursor: pointer;
}

.faq-question .icon {
  background-color: #00263C;
  color: #fff;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
}

.faq-question .text {
  flex: 1;
  font-size: 17px;
  color: #111;
  margin-left: 2rem;
}

.faq-question .arrow {
  font-size: 25px;
  color: #00263C;
  
}

.faq-item.active .arrow {
  transform: rotate(180deg);
}

.faq-answer img {
  width: 30px;
  height: 30px;
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0 20px;
  transition:
    max-height 0.4s ease,
    padding-top 0.4s ease,
    padding-bottom 0.4s ease,
    opacity 0.4s ease;

  /* 항상 유지되는 스타일: 미리 고정해둠 */
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}
.faq-item.active .faq-answer {
  max-height: 300px;
  padding: 20px 20px;
  opacity: 1;
}

/* 반응형 대응: 모바일에서 padding-left 줄이기 */


@media (max-width: 1024px) {
  .search-box {
    right: 5rem;
  }
  .faq {
    width: 90%;
    margin: 0 auto;
  }
  .faq-question {
    width: 100%;
  }
  .main_content .main_text {
    top: 1rem;
    left: 31rem;
  }
  .main_text h1 {
    margin-top: -3rem;
  }



}
@media (max-width: 768px) {
  .main_content .vmain_logo {
    width: 78%;
    left: 10rem;
    font-size: 25px;
    height: 40px;
  }
  .main_content .main_text {
    left: 20rem;
  }
  .main_text h2 {
    font-size: 25px;
  }
  .main_text h1 {
    font-size: 40px;
  }

}  

@media (max-width: 425px) {
  .main_content .vmain_logo {
    width: 74%;
    left: 6rem;
    font-size: 25px;
  }
  .main_content .main_text {
    left: 4rem;
  }
  .main_text h1 {
    margin-left: 13rem;
  }
  .search-box {
    right: 2rem;
  }
  .faq-list {
    height: 730px;
  }
  .faq-question .text {
    font-size: 15px;
  }
  .faq-answer {
    font-size: 15px;
  }
 
}

@media (max-width: 375px) {
  .main_text h2 {
    font-size: 22px;
  }
  .main_text h1 {
    margin-left: 12rem;
  }
  .faq-question .text {
    font-size: 15px;
  }


}