@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
  font-family: 'kdg_Medium'; /* 내가 지을 수 있는 이름 */
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/kdg_Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '행복고흥L';  
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/행복고흥L.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SangSangFlowerRoad'; 
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/SangSangFlowerRoad.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KCCHyerim-Regular';  
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/KCCHyerim-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* sub */
.sub_title {
  width: 100%;
  background: url(../images/svisual_06.png) no-repeat center /cover ;
}
.sub_title_content {
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub_title .sub_title_text {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 10rem;
  bottom: 7rem;
}
.sub_title .sub_title_text h1 {
  position: absolute;
  font-size: 50px;
  font-weight: 400;
  color: #fff;
  bottom: 3rem;
}
.sub_title .sub_title_text p {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
}
.sub_title .sub_menu {
  position: absolute;
  bottom: 0;
}
.sub_menu li  {
  display: flex;
  text-align: center;
}
.sub_menu li a {
  width: 200px;
  height: 40px;
  padding: 8px 10px;
  color: #fff;
  font-size: 18px;
  background-color: rgba(0, 38, 60, 0.7);
}
.sub_menu li .active {
  background-color: rgba(47, 141, 248, 0.7);;
}
/* member1_main */
.member1_main {
  width: 100%;
  background: #fff;
}
.member1_main .main_content {
  max-width: 1440px;
  width: 100%;
  height: 1155px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main_content .vmain_logo {
  position: absolute;
  width: 1200px;
  height: 48px;
  font-size: 30px;
  top: 10rem;
  left: 12rem;
  border-bottom: 2px solid #E2E8F0;
}
.main_content .vmain_logo::after {
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 28px;
  background-color: #007aff; /* 구분선 색상 */
}
.main_content h2 {
  position: absolute;
  top: 18rem;
  text-align: center;
  color: #767676;
  font-weight: 300;
  font-size: 30px;
  line-height: 1.4;
}
.main_content h1 {
  position: absolute;
  color: #2F8DF8;
  top: 27rem;
  font-family: 'Pretendard-Regular';
  font-size: 50px;
  font-weight: 500;
  letter-spacing: -1.0px;
}
.main_content img {
  margin-top: 3rem;
}
.main_content h3 {
  position: absolute;
  bottom: 23rem;
  text-align: center;
  color: #767676;
  font-weight: 300;
  font-size: 25px;
  line-height: 1.4;
}
.main_content .app_button {
  position: absolute;
  bottom: 6rem;
}
.main_content .app_button .button_m {
  width: 478px;
  height: 64px;
  color: #fff;
  background-color: #2F8DF8;
  display: flex;
  justify-content: center;    /* 가로 정렬 */
  align-items: center;        /* 세로 정렬 */
  text-align: center; 
  font-size: 22px;
  font-weight: 400;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}  

.main_content .app_button .button_s {
  width: 478px;
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.button_s .button-a,
.button_s .button-b {
  background: #fff;
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  transition: box-shadow 0.2s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.button-a:hover,
.button-b:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
.button_s .button-c {
  background: #fff;
  width: 64px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  transition: box-shadow 0.2s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.button_s li a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #0a2239; /* 네이비톤 텍스트 */
  font-family: 'SUIT', sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.button_s li span { margin-bottom: -4px;}
.button_s li img {
  height: 24px;
  margin-right: 10px;
  margin-bottom: 31px;
}

.button_s .button-c a {
  padding: 8px;
}

.button_s .button-c img {
  margin: 0;
  height: 32px;
}
@media all and (max-width:1024px) {
  .main_content .vmain_logo {
    width: 800px;
    height: 38px;
    font-size: 25px;
  }
  .main_content h2 {
    font-size: 25px;
  }
  .main_content h1 {
    font-size: 42px;
    top: 25rem;
  }
  .main_content h3 {
    font-size: 22px;
  }
  
}

@media all and (max-width:768px) {
  .main_content .vmain_logo {
    width: 600px;
    left: 10rem;
  }
}
@media all and (max-width:425px) {
  .main_content .vmain_logo {
    width: 330px;
    height: 30px;
    left: 5rem;
    font-size: 20px;
  }
  .main_content h1 {
    font-size: 36px;
  }
  .main_content h2 {
    font-size: 20px;
  }
  .main_content h3 {
    display: none;
  }
  

}
/* member1_sub */
.member1_sub {
  width: 100%;
  background-color: #ECECEC;
}
.member1_sub .sub_content {
  max-width: 1440px;
  width: 100%;
  height: 663px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.member1_sub .sub_content ul {
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  max-width: 874px;
}
.member1_sub .sub_content ul li {
  width: 280px;
  height: 250px;
  background-color: #fff;
  border-radius: 16px;
  padding: 23px 33px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  text-align: center;
  cursor: pointer;
}
.member1_sub .sub_content ul li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
}
.sub_content ul li h3 {
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 200;
}
.sub_content ul li span {
  font-size: 17px;
  font-weight: 400;
  color: #00263C;
}
.button_s ul li img {
  position: relative;
  width: 50px;
  height: 80px;
  margin: 0 auto;
}

@media all and (max-width:768px) {
  .member1_sub .sub_content ul li {
    width: 230px;
    height: 230px;
  }
}
@media all and (max-width:425px) {
  .main_content .app_button {
    bottom: 15rem; 
    left: 1rem;
  }
  .main_content .app_button .button_m {
    width: 85%;
  }
  .main_content .app_button .button_s {
    width: 85%;
    gap: 5px;
  }
}
@media all and (max-width:375px) {
  .main_content .vmain_logo {
    width: 294px;
    height: 30px;
    font-size: 20px;
  }
  .main_content .app_button .button_m {
    width: 75%;
    font-size: 18px;
  }
  .main_content .app_button .button_s {
    width: 75%;
  }
}
/* card1 */
.card1 .img-wrap {
  position: relative;
  width: 50px;
  height: 80px;
  margin: 0 auto;
}

.card1 .img-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 80px;
  transition: opacity 0.3s ease;
}

.card1 .on {
  opacity: 0;
}

.card1 .off {
  opacity: 1;
}
.card1:hover .on {
  opacity: 1;
}

.card1:hover .off {
  opacity: 0;
}
.card1 .img-wrap {
  position: relative;
  width: 50px;
  height: 80px;
  margin: 0 auto;
}
/* card2 */
.card2 .img-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 80px;
  transition: opacity 0.3s ease;
}

.card2 .on {
  opacity: 0;
}

.card2 .off {
  opacity: 1;
}
.card2:hover .on {
  opacity: 1;
}

.card2:hover .off {
  opacity: 0;
}
.card2 .img-wrap {
  position: relative;
  width: 50px;
  height: 80px;
  margin: 0 auto;
}
/* card3 */
.card3 .img-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 80px;
  transition: opacity 0.3s ease;
}

.card3 .on {
  opacity: 0;
}

.card3 .off {
  opacity: 1;
}
.card3:hover .on {
  opacity: 1;
}

.card3:hover .off {
  opacity: 0;
}
.card3 .img-wrap {
  position: relative;
  width: 50px;
  height: 80px;
  margin: 0 auto;
}
/* card4 */
.card4 .img-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 80px;
  transition: opacity 0.3s ease;
}

.card4 .on {
  opacity: 0;
}

.card4 .off {
  opacity: 1;
}
.card4:hover .on {
  opacity: 1;
}

.card4:hover .off {
  opacity: 0;
}
.card4 .img-wrap {
  position: relative;
  width: 50px;
  height: 80px;
  margin: 0 auto;
}
/* card5 */
.card5 .img-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 80px;
  transition: opacity 0.3s ease;
}

.card5 .on {
  opacity: 0;
}

.card5 .off {
  opacity: 1;
}
.card5:hover .on {
  opacity: 1;
}

.card5:hover .off {
  opacity: 0;
}
.card5 .img-wrap {
  position: relative;
  width: 50px;
  height: 80px;
  margin: 0 auto;
}
/* card6 */
.card6 .img-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 80px;
  transition: opacity 0.3s ease;
}

.card6 .on {
  opacity: 0;
}

.card6 .off {
  opacity: 1;
}
.card6:hover .on {
  opacity: 1;
}

.card6:hover .off {
  opacity: 0;
}
.card6 .img-wrap {
  position: relative;
  width: 50px;
  height: 80px;
  margin: 0 auto;
}

.sub_content ul li p {
  margin-top: 1rem;
}
@media all and (max-width:425px) {
  .member1_sub .sub_content ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .member1_sub .sub_content ul li {
    width: 190px;
    height: 190px;
    padding: 28px 20px;
  }
  .sub_content ul li h3 {
    width: 164px;
    font-size: 10px;
    margin-top: -1px;
    padding-right: 20px;
  }
  .sub_content ul li p {
    margin-top: -1rem;
    font-size: 12px;
  }
  .sub_content ul .card4 p {
    margin-top: -1rem;
  }
  .sub_content ul .card5 p,
  .sub_content ul .card6 p {
    margin-top: 0rem;
  }
  .card1 .img-wrap img {
    top: -8px;
    left: 6px;
    width: 40px;
  }
  .card2 .img-wrap img {
    top: -8px;
    left: 5px;
    width: 40px;
  }
  .card3 .img-wrap img {
    top: -8px;
    width: 50px;
  }
  .card4 .img-wrap img {
    width: 40px;
    top: -8px;
    left: 5px;
  }
  .card5 .img-wrap img {
    top: -2px;
    left: 0px;
    width: 50px;
  }
  .card6 .img-wrap img {
    top: -2px;
  }
  .sub_content ul li span {
    font-size: 15px;
  }


  
}
@media all and (max-width:375px) {
  .member1_sub .sub_content ul li {
    width: 167px;
    height: 167px;
    padding: 17px 10px;
  }
  .sub_content ul li span {
    font-size: 13px;
  }
  .sub_content ul .card5 p, .sub_content ul .card6 p {
    margin-top: -1rem;
  }
  .card5 .img-wrap img {
    top: -5px;
  }
  .card6 .img-wrap img {
    top: -7px;
  }


}
