@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
  font-family: 'kdg_Medium'; /* 내가 지을 수 있는 이름 */
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/kdg_Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '행복고흥L';  
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/행복고흥L.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SangSangFlowerRoad'; 
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/SangSangFlowerRoad.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KCCHyerim-Regular';  
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/KCCHyerim-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* sub */
.sub_title {
  width: 100%;
  background: url(../images/svisual_07.png) no-repeat center /cover ;
}
.sub_title_content {
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub_title .sub_title_text {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 10rem;
  bottom: 7rem;
}
.sub_title .sub_title_text h1 {
  position: absolute;
  font-size: 50px;
  font-weight: 400;
  color: #fff;
  bottom: 3rem;
}
.sub_title .sub_title_text p {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
}
.sub_title .sub_menu {
  position: absolute;
  bottom: 0;
}
.sub_menu li  {
  display: flex;
  text-align: center;
}
.sub_menu li a {
  width: 200px;
  height: 40px;
  padding: 8px 10px;
  color: #fff;
  font-size: 18px;
  background-color: rgba(0, 38, 60, 0.7);
}
.sub_menu li .active {
  background-color: rgba(47, 141, 248, 0.7);;
}
/* member1_main */
.notice1_main {
  width: 100%;
  background: #fff;
}
.notice1_main .main_content {
  max-width: 1440px;
  height: 1200px;
  margin: 0 auto;
  position: relative;
}
.table_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1024px;
  top: 7rem;
  left: 20rem;
}
.table_content h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 7rem;
}
.table_content .title {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 1024px;
  border-top: 2px solid #111;
  border-bottom: 1px solid #111;
  font-size: 20px;
  font-weight: 400;
}
.table_content .table-category {
  
}
.table_content img {
  width: 600px;
  height: 600px;
  margin-top: 5rem;
  border-radius: 20px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
}
.table_content .sub {
  font-size: 20px;
  text-align: center;
  margin-top: 5rem;
  color: #9A9A9A;
}
.table .brand_button {
  display: flex;
  width: 118px;
  height: 45px;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 300;
  background-color: #2F8DF8;
  color: #fff;
  margin-top: 5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}
.table .button-link:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1024px) {
  .table_content {
    left: 0px;
  }
  .table_content .title {
    width: 90%;
  }

}
@media (max-width: 768px) {
  .table_content {
    left: -13rem;
  }
  .table_content .title {
    width: 65%;
    font-size: 17px;
  }
  .table_content h1 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .table_content .sub {
    font-size: 17px;
  }


}
@media (max-width: 425px) {
  .table_content {
    left: -30rem;
  }
  .table_content .title {
    width: 34%;
    font-size: 14px;
  }
  .table_content img {
    width: 350px;
    height: auto;
  }
  .table_content .sub {
    font-size: 15px;
  }
  .notice1_main .main_content {
    height: 970px;
  }

}
@media (max-width: 375px) {
  .table_content {
    left: -87%;
  }
}
