@media all and (max-width: 1660px) {
  .menuHover .txt{display: none;}
}
@media all and (max-width: 1280px) {
  .header .headerInner h1{ margin-left: 50px;}    
  .header .headerInner .utill{ margin-right: 50px;}
  .header .headerInner .gnb{gap: 50px;}
}
@media all and (max-width: 1200px) {

  .header .headerInner .gnb,
  .menuHover,
  .mvis_scroll
  {display: none;}
  .header {padding-bottom: 10px;}
.header .headerInner h1{ margin-left: 20px; margin-top: 25px;}    
  .header .headerInner h1 img{ height: 50px;}    
  .header .headerInner .utill{ margin-right: 20px;}
  .header .headerInner .utill button, .header .headerInner .utill a{width: 50px; height: 50px;}
  .header .headerInner .utill button img, .header .headerInner .utill a img{width: 20px; height: auto;}



  .main_visual{height: auto;}
  .main_visual .mvisTop{height: unset;}
  .main_visual .mvisTop .copy{width:100%; margin: 0 20px;}
  .main_visual .mvisTop .copy .tit{font-size: 10rem;}
  .main_visual .mvisTop .copy .desc{font-size: 3.2rem; margin-top: 1rem;}


  .main_visual .mvisBottom {height:940px}
  .main_visual .mvisBottom .img{width: 40%; bottom: 300px; }
  .main_visual .mvisBottom .img img{width: 100%;}
  .main_visual .mvisBottom .img-slide::after{display: none;}
  .main_visual .mvisBottom .copy{width: 100%; padding-top: 0; padding: 0 20px; }

  .main_visual .mvisBottom .copy .titen{font-size: 10rem;}
  .main_visual .mvisBottom .copy .titko{font-size: 3.2rem; display: block; margin: 35px 0 15px;}
  .main_visual .mvisBottom .copy .desc{font-size: 2rem; line-height: 1.5;}
  .main_visual .mvisBottom .copy .link{width: 165px; height: 37px; line-height: 40px; font-size: 1.6rem;}
  .main_visual .mvisBottom .city{position: relative; bottom: -250px;}
  .main_visual .mvisBottom .city img{ width: 100%;}





  .msection{width: 100%;}

  .msection.menu{width: 100%; margin: 60px 0;}
  .msection.menu .menu_top {display: block;}
  .msection.menu .menu_top > div{display: block; text-align: center; width: 100%; }
  .msection.menu .menu_top .tit{font-size: 4rem; line-height: 1; margin-right: 0;}
  .msection.menu .menu_top .tab{ gap: 10px; margin-top: 40px; justify-content: center;}
  .msection.menu .menu_top .tab > div{width: 30%; font-size: 1.6rem; padding: 0 15px;}
  .msection.menu .menu_slider_wrap{margin: 50px 0; padding: 0 20px;}
  .msection.menu .menu_slider_wrap .swiper-wrapper .swiper-slide{width: 100%;}
  .msection.menu .menu_slider_wrap .sliderBtn{padding: unset; width: 30%; gap: unset; justify-content: space-between; top: 35%;}
  .msection.menu .menu_slider_wrap .sliderBtn button{width: 48px; height: 48px; background: #fff;}
  .msection.menu .menu_slider_wrap .sliderBtn button img{width: 14px;}
  .msection.menu .menu_slider_wrap .swiper-wrapper .swiper-slide .txt{font-size: 16px;}
.msection.menu .menu_slider_wrap .swiper-wrapper .swiper-slide .hover {top: 36%;}
  
  .msection.about {display: block; padding: 0 20px; background: #fff;}
  .msection.about .aboutBox{padding: 0;}
  .msection.about .aboutBox + .aboutBox{margin-top: 150px;}
  .msection.about .aboutBox,
  .msection.about .aboutBox.active{ width: 100%; height: 300px; border: 0 !important;}

  .msection.about .aboutBox:nth-of-type(1){background: url(../images/img_about_bg01.png) no-repeat center / cover;}
  .msection.about .aboutBox:nth-of-type(2){background: url(../images/img_about_bg02.png) no-repeat center / cover;}
  .msection.about .aboutBox:nth-of-type(3){background: url(../images/img_about_bg03.jpg) no-repeat center / cover;}
  .msection.about .aboutBox .tit,
  .msection.about .aboutBox.active .tit{width: 100%; height: 300px; display: flex; align-items: center; justify-content: center; font-size: 3.6rem !important; line-height: 1; text-align: center;}
  .msection.about .aboutBox .desc,
  .msection.about .aboutBox.active .desc{height: 100px; text-align: center; color: #333; font-size: 16px; margin-top: 20px;}
  .msection.about .aboutBox .link{display: none;}
.msection.about .aboutBox.active{padding-left:40px;}
  .msection.board{display: block; margin-top: 180px; margin-bottom: 100px;}

  .msection.board .newsWrap,
  .msection.board .snsWrap{width: 100%;}
  .msection.board .newsWrap > .top,
  .msection.board .snsWrap .top{display: block; margin-bottom: 30px;}
  .msection.board .newsWrap{margin-top: 80px;}

  .msection.board .newsWrap > .top > div,
  .msection.board .snsWrap .top > div{text-align: center; }

  .msection.board .newsWrap > .top .tit,
  .msection.board .snsWrap .top .tit{margin: 0; font-size: 4rem;}
  .msection.board .snsWrap .top .desc{font-size: 1.6rem;}
  .msection.board .snsWrap .img{gap: 8%; padding: 0 20px;}
  .msection.board .snsWrap .img > div{flex-basis: 46%; margin-bottom: 4%;}
  .msection.board .snsWrap .img > div img{width: 100%;}

  .msection.board .newsWrap .boardWrap > .top .tit{font-size: 24px;}
  .msection.board .newsWrap .boardWrap > .top .link a{font-size: 14px; width: unset; padding: 0 15px; height: 25px; line-height: 25px;}
  .msection.board .newsWrap .boardWrap{padding: 0 20px;}
  .msection.board .newsWrap .boardWrap > .list{margin-top: 10px;}
  
  .footer {
      margin-top: 80px;
  }
  .footer_inner{width: 100%; display: block; padding-left: 20px; padding-right: 20px;}
  .footer_inner .flogoTel .ftel{margin-top: 30px;}
  .footer_inner .finfo .link{flex-wrap: wrap; margin-top: 40px;}
  .footer_inner .finfo .link div a{font-size: 18px;}
  .footer_inner .finfo .address{margin-top: 30px;}
  .footer_inner .finfo .copy{margin-top: 30px; font-size: 16px;}
  .footer_inner .fsns{display: none;}
  .footerForm .formTit{height: 66px; line-height: 66px; font-size: 2rem;}
  .footerForm form fieldset{display: block; padding: 0 20px;}
  .footerForm form fieldset > div{width: 100%;}
  .footerForm form fieldset > .tit{width: 100%; text-align: center; font-size: 3rem; margin-bottom: 30px;}
  .footerForm form fieldset .form .qType,
  .footerForm form fieldset .form .formTxt,
  .footerForm form fieldset .formBtn{display: block;}
  .footerForm form fieldset .form .qType .rWrap {margin-top: 10px;}
  .footerForm form fieldset .form .qType .rWrap div{margin-right: 0;}
  .footerForm form fieldset .form .qType{font-size: 16px;}
  .footerForm form fieldset .form{padding: 0;}
  .footerForm form fieldset .formChk .tit,
  .footerForm form fieldset .form .formTxt > div{width: 100%; margin-bottom: 10px;}
  .footerForm form fieldset .formBtn {width: 100%; margin-top: 50px;}
  .footerForm form fieldset .formChk{margin-right: 0; width: 100%; margin-top: 20px;}
  .footerForm form fieldset .formBtn button{width: 100%; height: 50px; font-size: 2.2rem;}

  .allMenu_wrap{ background: rgba(0, 0, 0, 0.9) ; }
  .allMenu_wrap.on{display: block; overflow: auto;}
  .allMenu_wrap #allMenuClose{width:50px; height: 50px; top: 20px; right: 20px;}
  .moLogo {margin-left: 20px; margin-top: 25px; margin-bottom: 30px;}
  .moLogo img{ height: 50px;}    
  .allMenu{width: 100%; display: block; padding: 84px 20px;}
  .allMenu .menuWrap .menu{display: block; border-top: 1px solid #494949;}
  .allMenu .menuWrap .menu + .menu{margin: 0;}
  .allMenu .menuWrap .menu .dep1{font-size: 2rem;  width: 100%; text-decoration: none; padding-left: 0; padding: 20px 0; background: url(../images/icon_mognb_off.png) no-repeat right 30px;}
  .allMenu .menuWrap .menu .dep1.active{ background: url(../images/icon_mognb_on.png) no-repeat right 30px;}
  .allMenu .menuWrap .menu:nth-last-of-type(1){border-bottom: 1px solid #494949;}
  .allMenu .menuWrap .menu .dep2{display: none; font-size: 1.6rem; padding-bottom: 15px;}
  .allMenu .menuWrap .menu .dep2 a{display: block; padding: 5px 0 10px 20px;}
  .allMenu .copyWrap .t::after{display: none;}
  .allMenu .menuWrap .menu .dep1.active + .dep2{display: block;}
  .allMenu .copyWrap{width: 100%; text-align: left; margin-top: 70px; }
  .allMenu .copyWrap .t{font-size: 2.4rem;position: relative; }
  /* .allMenu .copyWrap .t::after{content: url(../images/bg_moMenu.png); display: inline-block; left: -50px; bottom: -100%;} */
  .allMenu .copyWrap .t span{display: block;}
  .allMenu .copyWrap .b{display: none;}
  .allMenu .menuWrap .menu .dep1.on:before, .allMenu .menuWrap .menu .dep1:hover:before{display: none;}
  .moMenuImg{display: block; position: relative; left: -30px; top: -10px;}
  .moMenuImg img{ width: 80%;}
  .sub_contents{width: 100%;}
  .subMenu{display: flex;}
  .subMenu > div{flex: 1;}
  .subMenu a{font-size:1.6rem; flex:1}
.sub_visual{height: 350px;}
  .sub_visual .titE{font-size: 3.5rem; margin-top:10px;}
  .sub_visual .titE:after{margin:15px }
.sub_visual .titK{font-size: 2rem;}


.menuList {padding:0 20px; gap: 5%;}
.menuList .item{flex-basis:unset; width:30%;}
.menuList .item .img{width: 100%; margin-bottom: 30px;}
.menuList .item .titKo{font-size: 2rem; }
.menuList .item .titEn{font-size: 1.6rem; }
.menuList .item .desc{font-size: 1.4rem; margin-top: 15px;}

.storeList {padding:0 20px}
.storeList .row{padding: 20px 0; }
.storeList .row + .row{border-top:1px solid #e8e8e8}
.storeList .row .info{ line-height: 1; padding-right:38px}
.storeList .row .info .name{font-size: 2rem;}
.storeList .row .info .address{font-size: 1.6rem; }
.storeList .row .info .etc{display: block; font-size: 1.4rem;margin-left: 0;}
.storeList .row .info .etc > div{display: flex; align-items: center; gap: 10px;}
.storeList .row .info .etc > div img{width:20px;}
.storeList .row .info .etc > div + div{margin-top:10px;}
.storeList .row .btn{position: absolute; right: 0; top: 60px;}
.storeList .row .btn button{width: 36px; height: 36px; }
.storeList .row .btn button img{width:18px;}
.storeList .row .map {margin-top:15px; padding-top:15px;}
.storeList .row .map img{width:100%; }
.map_wrap {width:100%; padding:0 20px ;}
.map_wrap .mapInfo{width:100%; margin:0; display:block; position: static; margin-top: 2rem;}
.map_wrap .mapArea .map{ height:30rem;}
.map_wrap .mapInfo .mapInfo_txt .txt{position:relative; color:#000; margin-top:10px;}
.map_wrap .mapInfo .mapInfo_txt{display:block; margin-bottom:20px;}
.map_wrap .mapInfo .mapInfo_txt .txt p {font-size:1.6rem}
.map_wrap .mapInfo .mapInfo_txt img{display:none;}
.map_wrap .mapInfo .mapInfo_txt .txt p.mail {margin-top: 10px;}
.map_wrap .mapInfo .mapInfo_txt .txt p.mail span{display:inline-block; width: auto;}
.map_wrap .mapInfo .mapInfo_txt .txt p br{display:none;}
.map_wrap .mapInfo .mapInfo_txt .txt p.name{ font-size: 2rem; margin-bottom: 0;}

.shopProc{width:100%; padding:0 20px;}
  .shopProc .procBox {
      width: 160px;
  }
  .shopProc .procBox .circle {width: 160px; height: 160px;}
.shopProc .procBox .circle{font-size:2rem;}
  .shopProc .arrow {padding-top: 70px;}
  .shopProc .arrow img {
      width: 25px;
      margin: 0 10px;
  }
/* .shopProc .procBox .circle::after{left:195px;} */
  .storeSch .schBox select,
.storeSch .schBox input[type=text]{width: 200px; padding:0 15px; font-size:1.4rem;}
.storeSch .schBox.sel{background-size:14px auto;}
}

@media all and (max-width:1024px) {
.msection.menu .menu_slider_wrap .sliderBtn {width:40%;}
}


@media all and (max-width: 768px) {
  .mvis_btn{display: none;}
  .main_visual{height: auto;}
  .main_visual .mvisTop{height: 80vh;}
  .main_visual .mvisTop .copy{padding-top: 150px; margin: 0 20px; position: static;}
  .main_visual .mvisTop .copy .tit{font-size: 6rem;}
  .main_visual .mvisTop .copy .desc{font-size: 1.8rem; margin-top: 1rem;}

  /* .main_visual .mvisTop .img{top: 35rem;} */
  .main_visual .mvisTop .img .swiper-wrapper .swiper-slide img{ width: 100%; max-width: 500px; height: auto; margin: 0 auto; margin-top: 30px;}

  .main_visual .mvisBottom{height: auto; padding-bottom: 480px;}
  .main_visual .mvisBottom .img{width: 55%; bottom: -50rem; position: relative; z-index: 1;}
  .main_visual .mvisBottom .img img{width: 100%;}
  .main_visual .mvisBottom .img::after{display: none;}
  .main_visual .mvisBottom .copy{width: 100%; padding-top: 0; padding: 0 20px; margin-top: -200px;}

  .main_visual .mvisBottom .copy .titen{font-size: 6rem;}
  .main_visual .mvisBottom .copy .titko{font-size: 3.2rem; display: block; margin: 35px 0 15px;}
  .main_visual .mvisBottom .copy .desc{font-size: 1.6rem; line-height: 1.5;}
  .main_visual .mvisBottom .copy .link{width: 165px; height: 37px; line-height: 40px; font-size: 1.6rem;}
  .main_visual .mvisBottom .city{position: relative; bottom: -40rem;}
  .main_visual .mvisBottom .city img{ width: 100%;}

  .shopProc{width: 100%; padding: 0 20px; flex-wrap: wrap; justify-content: space-between;}
  .shopProc .arrow {display: none;}
  .shopProc .procBox .circle{margin: 0 auto; width: 170px; height: 170px; font-size: 1.6rem;}
  .shopProc .procBox .circle::after{display: none;}

  .shopProc .procBox .txt{margin-top: 15px;}
  .shopInForm{width: 100%; padding: 0 20px;}
  .shopProc .procBox{margin-bottom: 20px; width:48%;}
.shopInForm .rowBox + .rowBox{margin-top:30px}

.brandHistory .row{display:block;}
.brandHistory .row + .row{margin-top: 80px;}
.brandHistory .row .img{text-align:center;}
.brandHistory .row .img,
.brandHistory .row .txt{display:block; width:100%; text-align:center;}
.brandHistory .row .txt{padding:0 20px; margin-top:30px;}
.brandHistory .row .txt .year{font-size: 3rem;}
.brandHistory .row .txt .desc{}
.brandHistory .row .txt .desc p{font-size:1.6rem;}
.brandHistory .row .img::before,
.brandHistory .row .img::after{display:none;}

.storeSch {margin-bottom:40px;}
.storeSch form fieldset{display: block; padding:0 20px }
.storeSch .schBox {width: 100%; height: 60px; margin-bottom:8px; }
.storeSch .schBox.sel{width:49%; float:left; background: url(../images/icon_select_arrow.png) no-repeat right 15px center; background-size:12px auto;}
.storeSch .schBox.sel + .sel{float:right;}
.storeSch .schBox select,
.storeSch .schBox input[type=text]{width: 100%; padding:0 15px; font-size:1.5rem;}
.storeSch .schBox input[type=text]{padding-right:90px;}
.storeSch form fieldset button{width: 80px; position:absolute; right:20px; bottom:8px; background-size:28px auto;} 

.menuList {padding:0 20px; gap: 8%;}
.menuList .item{flex-basis:unset; width:44%; margin-bottom: 60px; text-align: center;  }


.menuTab{ margin-bottom: 40px;}
.menuTab > div{width: 30%; font-size: 1.6rem; }
  .msection.menu {margin-top: 200px;}
.msection.menu .menu_slider_wrap .sliderBtn {width:55%;}
  .msection.menu .menu_slider_wrap .swiper-wrapper .swiper-slide .img img {
      width: 60%;
  }
}
@media all and (max-width:576px) {
.msection.menu .menu_slider_wrap .swiper-wrapper .swiper-slide .hover {top: 50%;}
.msection.menu .menu_slider_wrap .sliderBtn {width:90%;}
}
@media all and (max-width: 500px) {
  .shopProc .procBox .circle{ width: 100%; height: 40vw; min-height: 135px; font-size: 1.6rem;}
  .shopProc .procBox .circle img {
      width: 28%;
  }
  .shopProc .procBox .txt{font-size: 1.4rem;}
}

@media all and (max-width: 400px) {
  /* .shopProc .procBox .circle{ width: 150px; height: 150px; font-size: 1.6rem;}
  .shopProc .procBox .txt{font-size: 1.4rem;} */

  .main_visual .mvisBottom {padding-bottom: 300px;}
  .main_visual .mvisBottom .img {bottom: -40rem;}
  .main_visual .mvisBottom .city {bottom: -28rem;}
}
